{% extends "main/base.html" %}
{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="en">
{% block title %}
   Iniciar Sesión
{% endblock %}

{% block content %}
  <div class="content">
    <link rel="stylesheet" href="{% static 'static/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'static/css/owl.carousel.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'static/css/bootstrap.min.css' %}">
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'static/css/style1.css' %}">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../../static/static/images/pyLogin.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
              <h3><center>Ingresa a Pythonico</center></h3>
              <p class="mb-4"></p>
            </div>
            <form action="." method="post">
                 {% csrf_token %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

{% endif %}



              <div class="form-group first">
                <label for="username">Usuario</label>
                  {{ form.username|add_class:'form-control'|attr:'autocomplete:off'}}
              </div>
            </br>
          </br>
              <div class="form-group last mb-4">
                <label for="password">Contraseña</label>
                  {{ form.password|add_class:'form-control'|attr:'autocomplete:off'}}

              </div>
            </br>

              <input type="submit" value="Iniciar sesión" class="btn btn-block btn-success">

              <span class="d-block text-left my-4 text-muted align-content-center">&nbsp;&nbsp;&nbsp;&nbsp;&mdash;&mdash;&mdash;&mdash; No tienes una cuenta,
                  <a href="/registrar">registrate</a> &mdash;&mdash;&mdash;&mdash;</span>

            </form>
                </div>
          </div>

        </div>

      </div>
    </div>
  </div>

{% endblock %}

</html>