{% extends "main/base.html" %}
{% load static %}

<!--Titulo de la pagina-->
{% block title %}
    Comunidad
{% endblock %}
{% block content %}
<div class="container center-align">
    <h2>Bienvenidos</h2>
    <h4>Se parte de nuestra comunidad Pythonico</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col s6"> 
            <div class="card grey lighten-2">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " height="220" src="{% static 'media/discord.jpg' %}">
                </div>
                <div class="card-content">
                <span class="card-title activator black-text text-darken-4">Discord<i class="material-icons right">expand_more</i></span>
                <p><a href="https://discord.gg/zQ2vpJRUUa">&Uacute;nete a discord</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">&Uacute;nete a discord<i class="material-icons right">close</i></span>
                <p class=".justifyText"> Se parte de nuestra comunidad pythonico por medio de discord, donde encontrar&aacute;s material, ejemplos y tendr&aacute;s ayuda por parte de nuestro
                    equipo para solventar las dudas y recibir apoyo para la correci&oacute;n de errores.</p>
                </div>
            </div>
            <div class="card grey lighten-2">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " height="220" src="{% static 'media/facebook.png' %}">
                </div>
                <div class="card-content">
                <span class="card-title activator black-text text-darken-4">Facebook<i class="material-icons right">expand_more</i></span>
                <p><a href="https://www.facebook.com/profile.php?id=100075521319974">Danos me gusta </a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Danos me gusta en facebook<i class="material-icons right">close</i></span>
                <p>&Uacute;nete a nuestra comunidad mediante facebook donde encontrar&aacute;s actualizaciones y publicaciones para la mejora de tu aprendizaje
                </p>
                </div>
            </div>
            <div class="card grey lighten-2">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " height="220" src="{% static 'media/twitter.png' %}">
                </div>
                <div class="card-content">
                <span class="card-title activator black-text text-darken-4">Twitter<i class="material-icons right">expand_more</i></span>
                <p><a href="https://twitter.com/PythonicoU">S&iacute;guenos en twitter</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">S&iacute;guenos en twitter<i class="material-icons right">close</i></span>
                <p>Forma parte de la comunidad de Pythonico siguiendonos en twitter, donde podr&aacute;s estar actualizado y estaremos brindandote
                    informaci&oacute;n del curso y sobre la tecnolog&iacute;a.
                </p>
                </div>
            </div>
        </div>
        <div class="col s6 ">
            <a class="twitter-timeline" href="https://twitter.com/PythonicoU?ref_src=twsrc%5Etfw">Tweets by PythonicoU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </div>

    
    </div>
</div>

{% endblock %}