{% extends "main/base.html" %}
{% load static %}
<!--Titulo de la pagina-->
{% block title %}
    Django
{% endblock %}

<!--Contenido de la pagina-->
{% block content %}
<div class="principal">
    <div class="row">
        <div class="col s3">
            <div class="row">
                <div class="col s12">
                    <br/><br/><br><br>
                    <h5><center>Contenido</center></h5>
                    <div class="card-panel yellow lighten-2">
                        <ul>
                            <li><a href="#obtener-django" class="grey-text text-darken-4">C&oacute;mo obtener Django?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s9">
            <h2><center>Curso de Django</center></h2>
            <p>
                Django es un framework web de alto nivel que permite el desarrollo rápido de sitios web seguros y mantenibles. 
                Desarrollado por programadores experimentados, Django se encarga 
                de gran parte de las complicaciones del desarrollo web, por lo que puedes concentrarte en escribir tu aplicación sin necesidad de reinventar la rueda. Es gratuito y de código abierto, tiene una comunidad próspera y activa, una gran documentación y muchas opciones de soporte gratuito y de pago.
            </p>
            <p>Django te ayuda a escribir software que es:</p>
            <h5><b>Completo</b></h5>
            <p> Django sigue la filosofía "Baterías incluidas" y provee casi todo lo que los desarrolladores quisieran 
                que tenga "de fábrica". Porque todo lo que necesitas es parte de un único "producto", todo funciona a la perfección, 
                sigue principios de diseño consistentes y tiene una amplia y actualizada documentación
            </p>
            <h5><b>Vers&aacute;til</b></h5>
            <p>Django puede ser (y ha sido) usado para construir casi cualquier tipo de sitio web — desde sistemas manejadores 
                de contenidos y wikis, hasta redes sociales y sitios de noticias. Puede funcionar con cualquier framework en el lado del cliente, y puede devolver contenido en casi cualquier formato (incluyendo HTML, RSS feeds, JSON, XML, etc). 
                ¡El sitio que estás leyendo actualmente está basado en Django!
                Internamente, mientras ofrece opciones para casi cualquier funcionalidad que desees (distintos motores de base de datos , motores de plantillas, etc.), 
                también puede ser extendido para usar otros componentes si es necesario.</p>
            <h5><b>Seguro</b></h5>    
            <p>Django ayuda a los desarrolladores evitar varios errores comunes de seguridad al proveer un framework que ha sido diseñado para "hacer lo correcto" para proteger el sitio web automáticamente. 
                Por ejemplo, Django, proporciona una manera segura de administrar cuentas de usuario y contraseñas, evitando así errores comunes como 
                colocar informaciones de sesión en cookies donde es vulnerable 
                (en lugar de eso las cookies solo contienen una clave y los datos se almacenan en la base de datos) o se almacenan directamente las contraseñas en un hash de contraseñas.</p>
            <p>Django permite protección contra algunas vulnerabilidades de forma predeterminada, 
                incluida la inyección SQL, scripts entre sitios, falsificación de solicitudes entre sitios y clickjacking (consulte Seguridad de sitios web para obtener más detalles sobre dichos ataques).
            </p>
            <h5><b>Escalable</b></h5>
            <p>Django usa un componente basado en la arquitectura <a target="blank" href="https://en.wikipedia.org/wiki/Shared-nothing_architecture">“shared-nothing”</a> 
                (cada parte de la arquitectura es independiente de las otras, y por lo 
                tanto puede ser reemplazado o cambiado si es necesario). Teniendo en cuenta una clara separación entre las diferentes partes significa que puede escalar para aumentar el tráfico al agregar hardware en cualquier nivel: servidores de cache, servidores de bases de datos o servidores de aplicación. Algunos de los sitios más concurridos han escalado a Django para satisfacer sus demandas 
                (por ejemplo, Instagram y Disqus, por nombrar solo dos).</p>
            <h4 id="obtener-django"><center>Obtener django</center></h4>
            <p>
                Django está disponible en código abierto bajo la licencia BSD . Recomendamos utilizar la última versión de Python 3. 
                La última versión compatible con Python 2.7 es Django 1.11 LTS. Para poder descargar django nos dirigiremos a la pagina de descarga de <a href="https://www.djangoproject.com/download/" target="blank">django</a>. 
            </p>
        </div>
    </div>
</div>
{% endblock %}