{% extends "main/base.html" %}
{% load static %}

<!--Titulo de la pagina-->
{% block title %}
    Libros y más
{% endblock %}

<!--Contenido de la pagina-->
{% block content %}
<div class="container">
    <center><h2>Recursos de texto disponibles</h2></center>
    <div class="row">
        <div class="col s7">

            <!--Modulo #1-->
            <p id="modulo1" class="flow-text">Modulo #1</p>
            <ul class="collection">
                <li class="collection-item avatar">
                  <img src="{% static 'media/libros/img/introduccion_al_lenguaje_python.png' %}" alt="" class="circle">
                  <span class="title"><b>Introducci&oacute;n al lenguaje Python</b></span>
                  <p>Autora: Eugenia Bahit<br>
                    Introducción a la programación en lenguaje Python híbrido.
                  </p>
                  <a href="/static/media/libros/documentos/01IntroduccionAlLenguajePython_Ed2018.pdf" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a>
                </li>
                <li class="collection-item avatar">
                  <img src="{% static 'media/libros/img/Python_y_variables.jpg' %}" alt="" class="circle">
                  <span class="title"><b>Python y Variables</b></span>
                  <p>Autor: Rodrigo Toro Icarte<br>
                    Introducción a la programación en python.
                  </p>
                  <a href="/static/media/libros/documentos/01Python_y_variables.pdf" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a>
                </li>
                <li class="collection-item avatar">
                  <img src="{% static 'media/libros/img/instalacion.jpg' %}" alt="" class="circle">
                  <span class="title"><b>Instalar Python</b></span>
                  <p>Autor: Rodrigo Toro Icarte<br>
                    Introducción a la programación en python.
                  </p>
                  <a href="/static/media/libros/documentos/01instalar_python.pdf" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a>
                </li>
              </ul>

              <!--Modulo #2-->
              <p id="modulo2" class="flow-text">Modulo #2</p>
              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="{% static 'media/libros/img/funciones.jpg' %}" alt="" class="circle">
                  <span class="title"><b>Funciones y condicionales en Python</b></span>
                  <p>Autor: Alfredo S&aacute;nchez S&aacute;nchez<br>
                    Elementos de control.
                  </p>
                  <a href="/static/media/libros/documentos/02Condicionales_y_bucles.pdf" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a>
                </li>
                <li class="collection-item avatar">
                  <img src="{% static 'media/libros/img/condicionales_y_bucles.jpg' %}" alt="" class="circle">
                  <span class="title"><b>Condicionales y Bucles en Python</b></span>
                  <p>Autor: Rodrigo Toro Icarte<br>
                    Introducción a la programación en python.
                  </p>
                  <a href="/static/media/libros/documentos/02Funciones.pdf" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a>
                </li>
              </ul>

              <!--Modulo #3-->
              <p id="modulo3" class="flow-text">Modulo #3</p>
              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="{% static 'media/libros/img/listas.jpg' %}" alt="" class="circle">
                  <span class="title"><b>Listas en Python</b></span>
                  <p>Autor: Rodrigo Toro Icarte<br>
                    Introducción a la programación en python.
                  </p>
                  <a href="/static/media/libros/documentos/03Listas.pdf" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a>
                </li>
                <li class="collection-item avatar">
                  <img src="{% static 'media/libros/img/Tuplas.jpg' %}" alt="" class="circle">
                  <span class="title"><b>Listas, Tuplas y Diccionarios en Python</b></span>
                  <p>Autor: Alfredo S&aacute;nchez S&aacute;nchez<br>
                    Python un lenguaje de programación muy completo.
                  </p>
                  <a href="/static/media/libros/documentos/03Tuplas.pdf" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a>
                </li>
              </ul>

              <!--Modulo #4-->
              <p id="modulo4" class="flow-text">Modulo #4</p>
              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="{% static 'media/libros/img/poo.jpg' %}" alt="" class="circle">
                  <span class="title"><b>Programación Orientada a Objetos</b></span>
                  <p>Autor: Rodrigo Toro Icarte<br>
                    Introducción a la programación en python.
                  </p>
                  <a href="/static/media/libros/documentos/04POO.pdf" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a>
                </li>
              </ul>

              <!--Django-->
              <p id="django" class="flow-text">Framework Django</p>
              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="{% static 'media/libros/img/Django.jpg' %}" alt="" class="circle">
                  <span class="title"><b>Aprendiza Django</b></span>
                  <p>Autor: Stack Overflow contributors<br>
                    Es un libro electrónico de Django no oficial y gratuito creado con fines educativos. Todo el contenido es
                    extraído de Stack Overflow Documentation, que está escrito por muchas personas trabajadoras en
                    Desbordamiento de pila. No está afiliado a Stack Overflow ni a Django oficial.
                  </p>
                  <a href="/static/media/libros/documentos/05Django.pdf" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a>
                </li>
              </ul>
        </div>
        <div class="col s1"></div>
        <div class="col s4">
            <p class="flow-text">Para mas contenido visita nuestra comunidad en discord.</p>
            <div class="row">
                <div class="col s12 ">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://phantom-marca.unidadeditorial.es/ebb126757255d08caf5fec8985cea583/resize/1320/f/jpg/assets/multimedia/imagenes/2021/05/03/16200681608378.jpg">
                      <span class="card-title">Pythonico</span>
                    </div>
                    <div class="card-content">
                      <p class="">Encontraras muchos personas que inician con este lenguaje de programación tan genial, además, encontraras documentos, libros, c&oacute;digo y mucho m&aacute;s.</p>
                    </div>
                    <div class="card-action">
                      <a href="https://discord.gg/zQ2vpJRUUa">Unirme a la comunidad</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
<br/>
{% endblock %}