{% extends "main/base.html" %}
{% load static %}

<!--Titulo de la pagina-->
{% block title %}
    Operadores
{% endblock %}

<!--Contenido de la pagina-->
{% block content %}
<div class="principal">
    <div class="row">
        <div class="col s3">
            <div class="row">
                <div class="col s12">
                    <br/><br/><br><br>
                  <h5><center>Contenido</center></h5>
                  <div class="card-panel yellow lighten-2">
                    <ul>
                        <li><a href="#opConcat" class="grey-text text-darken-4">Operador de concatenación de cadenas de caracteres</a></li>
                        <li><a href="#opLog" class="grey-text text-darken-4">Operadores lógicos o booleanos</a></li>
                        <li><a href="#opComp" class="grey-text text-darken-4">Operadores de comparación</a></li>
                        <li><a href="#opArit" class="grey-text text-darken-4">Operadores aritméticos</a></li>
                        <li><a href="#opBit" class="grey-text text-darken-4">Operadores a nivel de bits</a></li>
                        <li><a href="#opAsig" class="grey-text text-darken-4">Operadores de asignación</a></li>
                        <li><a href="#opPert" class="grey-text text-darken-4">Operadores de pertenencia</a></li>
                        <li><a href="#opIden" class="grey-text text-darken-4">Operadores de identidad</a></li>
                        <li><a href="#prioridad" class="grey-text text-darken-4">Prioridad de los operadores en Python</a></li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
        <div class="col s9">
            <h2><center>Operadores</center></h2>
            <p>Los operadores son símbolos reservados por el propio lenguaje que se utilizan para llevar a cabo operaciones sobre uno, dos o más elementos llamados operandos. Los operandos pueden ser variables, literales, el valor devuelto por una expresión o el valor devuelto por una función.</p>
            <p>El ejemplo más típico que siempre viene a la mente es el operador suma, +, que se utiliza para obtener la suma aritmética de dos valores:</p>
            <code>
                <pre class="lime lighten-5">
                    >>> 9 + 1  # 9 y 1 son los operandos
                    10  # 10 es el resultado</pre>
            </code>
            <p>En este tutorial entraremos más en detalle sobre los distintos tipos de operadores disponibles en Python</p>
            

            <h4 id="opConcat">Operador de concatenación de cadenas de caracteres</h4>
            <p>Una de las operaciones más básicas cuando se trabaja con cadenas de caracteres es la concatenación. Esto consiste en unir dos cadenas en una sola, siendo el resultado un nuevo string.</p>
            <p>La forma más simple de concatenar dos cadenas en Python es utilizando el operador de concatenación <kbd>+</kbd>:</p>  
            <code>
                <pre class="lime lighten-5">
                    >>> hola = 'Hola'
                    >>> python = 'Pythonista'
                    >>> hola_python = hola + ' ' + python  # concatenamos 3 strings
                    >>> print(hola_python)
                    Hola Pythonista</pre>
            </code>


            <h4 id="opLog">Operadores lógicos o booleanos</h4>
            <p>A la hora de operar con valores booleanos, tenemos a nuestra disposición los operadores <kbd>and</kbd>, <kbd>or</kbd> y <kbd>not</kbd>.</p>
            <p>¡IMPORTANTE!: Las operaciones <kbd>and</kbd>, <kbd>or</kbd> y <kbd>not</kbd> realmente no devuelven <kbd>True</kbd> o <kbd>False</kbd>, sino que devuelven uno de los operandos como veremos en el cuadro de abajo.</p>
            <p>A continuación te muestro cómo funcionan los operadores booleanos (en orden de preferencia ascendente):</p>
            <table class="bordered highlight responsive-table">
                <thead class="blue darken-4 white-text">
                    <tr>
                        <th>Operaci&oacute;n</th>
                        <th>Resultado</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><kbd>a or b</kbd></td>
                        <td>Si <kbd>a</kbd> evalua a falso, entonces devuelve <kbd>b</kbd>, si no devuelve <kbd>a</kbd></td>
                        <td>Solo se evalúa el segundo operando si el primero es falso</td>
                    </tr>
                    <tr>
                        <td><kbd>a and b</kbd></td>
                        <td>Si <kbd>a</kbd> evalua a falso, entonces devuelve <kbd>a</kbd>, si no devuelve <kbd>b</kbd></td>
                        <td>Solo se evalúa el segundo operando si el primero es verdadero</td>
                    </tr>
                    <tr>
                        <td><kbd>not a</kbd></td>
                        <td>Si <kbd>a</kbd> evalua a falso, entonces devuelve <kbd>True</kbd>, si no devuelve <kbd>False</kbd></td>
                        <td>Tiene menos prioridad que otros operadores no booleanos</td>
                    </tr>
                </tbody>
            </table>
            
            <p>Ejemplos:</p>
            <code>
                <pre class="lime lighten-5">
                    >>> x = True
                    >>> y = False
                    >>> x or y
                    True
                    >>> x and y
                    False
                    >>> not x
                    False
                    >>> x = 0
                    >>> y = 10
                    >>> x or y
                    10
                    >>> x and y
                    0
                    >>> not x
                    True</pre>
            </code>



            <h4 id="opComp">Operadores de comparación</h4>
            <p>Los operadores de comparación se utilizan, como su nombre indica, para comparar dos o más valores. El resultado de estos operadores siempre es <kbd>True</kbd> o <kbd>False</kbd>.</p>
            <table class="bordered highlight responsive-table">
                <thead class="blue darken-4 white-text">
                    <tr>
                        <th>Operaci&oacute;n</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>></td>
                        <td>Mayor que. <kbd>True</kbd> si el operando de la izquierda es estrictamente mayor que el de la derecha; <kbd>False</kbd> en caso contrario.</td>
                    </tr>
                    <tr>
                        <td>>=</td>
                        <td>Mayor o igual que. <kbd>True</kbd> si el operando de la izquierda es mayor o igual que el de la derecha; <kbd>False</kbd> en caso contrario.</td>
                    </tr>
                    <tr>
                        <td><</td>
                        <td>Menor que. <kbd>True</kbd> si el operando de la izquierda es estrictamente menor que el de la derecha; <kbd>False</kbd> en caso contrario.</td>
                    </tr>
                    <tr>
                        <td><=</td>
                        <td>Menor o igual que. <kbd>True</kbd> si el operando de la izquierda es menor que el de la derecha; <kbd>False</kbd> en caso contrario.</td>
                    </tr>
                    <tr>
                        <td>==</td>
                        <td>Igual. <kbd>True</kbd> si el operando de la izquierda es igual que el de la derecha; <kbd>False</kbd> en caso contrario.</td>
                    </tr>
                    <tr>
                        <td>!=</td>
                        <td>Distinto. <kbd>True</kbd> si los operandos son distintos; <kbd>False</kbd> en caso contrario.</td>
                    </tr>
                </tbody>
            </table>
            
            <p>Ejemplos:</p>
            <code>
                <pre class="lime lighten-5">
                    >>> x = 9
                    >>> y = 1
                    >>> x < y
                    False
                    >>> x > y
                    True
                    >>> x == y
                    False</pre>
            </code>
            
            <h5>Consideraciones sobre los operadores de comparación</h5>
            <p>Los objetos de diferentes tipos, excepto los tipos numéricos, nunca se comparan igual. El operador <kbd>==</kbd> siempre está definido, pero para algunos tipos de objetos (por ejemplo, objetos de clase) es equivalente a is.</p>
            <p>Las instancias no idénticas de una clase normalmente se comparan como no iguales a menos que la clase defina el método <kbd>__eq__()</kbd>.</p>
            <p>Las instancias de una clase no se pueden ordenar con respecto a otras instancias de la misma clase u otros tipos de objeto, a menos que la clase defina los métodos <kbd>__lt__()</kbd>, <kbd>__gt__()</kbd>.</p>
            <p>Los operadores de comparación se pueden concatenar. Ejemplo:</p>
            <code>
                <pre class="lime lighten-5">
                    # Las comparaciones siguientes son idénticas
                    >>> x = 9
                    >>> 1 < x and x < 20
                    True
                    >>> 1 < x < 20
                    True</pre>
            </code>

            
            
            <h4 id="opArit">Operadores aritméticos</h4>
            <p>En cuanto a los operadores aritméticos, estos permiten realizar las diferentes operaciones aritméticas del álgebra: suma, resta, producto, división, … Estos operadores Python son de los más utilizados. El listado completo es el siguiente:</p>
            <table class="bordered highlight responsive-table">
                <thead class="blue darken-4 white-text">
                    <tr>
                        <th>Operaci&oacute;n</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>+</td>
                        <td>Suma dos operandos.</td>
                    </tr>
                    <tr>
                        <td>>-</td>
                        <td>Resta al operando de la izquierda el valor del operando de la derecha. Utilizado sobre un único operando, le cambia el signo.</td>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td>Producto/Multiplicación de dos operandos.</td>
                    </tr>
                    <tr>
                        <td>/</td>
                        <td>Divide el operando de la izquierda por el de la derecha (el resultado siempre es un <kbd>float</kbd>).</td>
                    </tr>
                    <tr>
                        <td>%</td>
                        <td>Operador módulo. Obtiene el resto de dividir el operando de la izquierda por el de la derecha.</td>
                    </tr>
                    <tr>
                        <td>//</td>
                        <td>Obtiene el cociente entero de dividir el operando de la izquierda por el de la derecha.</td>
                    </tr>
                    <tr>
                        <td>**</td>
                        <td>Potencia. El resultado es el operando de la izquierda elevado a la potencia del operando de la derecha.</td>
                    </tr>
                </tbody>
            </table>

            <code>
                <pre class="lime lighten-5">
                    >>> x = 7
                    >>> y = 2
                    >>> x + y  # Suma
                    9
                    >>> x - y  # Resta
                    5
                    >>> x * y  # Producto
                    14
                    >>> x / y  # División
                    3.5
                    >>> x % y  # Resto
                    1
                    >>> x // y  # Cociente
                    3
                    >>> x ** y  # Potencia
                    49</pre>
            </code>



            <h4 id="opBit">Operadores a nivel de bits</h4>
            <p>Los operadores a nivel de bits actúan sobre los operandos como si fueran una cadena de dígitos binarios. Como su nombre indica, actúan sobre los operandos bit a bit. Son los siguientes:</p>
            <table class="bordered highlight responsive-table">
                <thead class="blue darken-4 white-text">
                    <tr>
                        <th>Operaci&oacute;n</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>x | y</td>
                        <td>or bit a bit de x e y.</td>
                    </tr>
                    <tr>
                        <td>>x ^ y</td>
                        <td>or exclusivo bit a bit de x e y.</td>
                    </tr>
                    <tr>
                        <td>x & y</td>
                        <td>and bit a bit de x e y.</td>
                    </tr>
                    <tr>
                        <td>x << n</td>
                        <td>Desplaza x n bits a la izquierda.</td>
                    </tr>
                    <tr>
                        <td>x >> n</td>
                        <td>Desplaza x n bits a la derecha.</td>
                    </tr>
                    <tr>
                        <td>~x</td>
                        <td>not x. Obtiene los bits de x invertidos.</td>
                    </tr>
                </tbody>
            </table>

            <p>Supongamos que tenemos el entero 2 (en bits es 00010) y el entero 7 (00111). El resultado de aplicar las operaciones anteriores es:</p>
            <code>
                <pre class="lime lighten-5">
                    >>> x = 2
                    >>> y = 7
                    >>> x | y
                    7
                    >>> x ^ y
                    5
                    >>> x & y
                    2
                    >>> x << 1
                    4
                    >>> x >> 1
                    1
                    >>> ~x
                    -3</pre>
            </code>



            <h4 id="opAsig">Operadores de asignación</h4>
            <p>El operador de asignación se utiliza para asignar un valor a una variable. Como te he mencionado en otras secciones, este operador es el signo <kbd>=</kbd>.</p>
            <p>Además del operador de asignación, existen otros operadores de asignación compuestos que realizan una operación básica sobre la variable a la que se le asigna el valor.</p>
            <p>Por ejemplo, <kbd>x += 1</kbd> es lo mismo que <kbd>x = x + 1</kbd>. Los operadores compuestos realizan la operación que hay antes del signo igual, tomando como operandos la propia variable y el valor a la derecha del signo igual.</p>
            <p>A continuación, aparece la lista de todos los operadores de asignación compuestos:</p>
            <table class="bordered highlight responsive-table">
                <thead class="blue darken-4 white-text">
                    <tr>
                        <th>Operador</th>
                        <th>Ejemplo</th>
                        <th>Equivalencia</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>+=</td>
                        <td>x += 2</td>
                        <td>x = x + 2</td>
                    </tr>
                    <tr>
                        <td>>-=</td>
                        <td>x -= 2</td>
                        <td>x = x – 2</td>
                    </tr>
                    <tr>
                        <td>*=</td>
                        <td>x *= 2</td>
                        <td>x = x * 2</td>
                    </tr>
                    <tr>
                        <td>/=</td>
                        <td>x /= 2</td>
                        <td>x = x / 2</td>
                    </tr>
                    <tr>
                        <td>%=</td>
                        <td>x %= 2</td>
                        <td>x = x % 2</td>
                    </tr>
                    <tr>
                        <td>//=</td>
                        <td>x //= 2</td>
                        <td>x = x // 2</td>
                    </tr>
                    <tr>
                        <td>**=</td>
                        <td>x **= 2</td>
                        <td>x = x ** 2</td>
                    </tr>
                    <tr>
                        <td>&=</td>
                        <td>x &= 2</td>
                        <td>x = x & 2</td>
                    </tr>
                    <tr>
                        <td>|=</td>
                        <td>x |= 2</td>
                        <td>x = x | 2</td>
                    </tr>
                    <tr>
                        <td>^=</td>
                        <td>x ^= 2</td>
                        <td>x = x ^ 2</td>
                    </tr>
                    <tr>
                        <td>>>=</td>
                        <td>x >>= 2</td>
                        <td>x = x >> 2</td>
                    </tr>
                    <tr>
                        <td><<=</td>
                        <td>x <<= 2</td>
                        <td>x = x << 2</td>
                    </tr>
                </tbody>
            </table>



            <h4 id="opPert">Operadores de pertenencia</h4>
            <p>Los operadores de pertenencia se utilizan para comprobar si un valor o variable se encuentran en una secuencia (<kbd>list</kbd>, <kbd>tuple</kbd>, <kbd>dict</kbd>, <kbd>set</kbd> o <kbd>str</kbd>).</p>
            <p>Todavía no hemos visto estos tipos, pero son operadores muy utilizados.</p>
            <table class="bordered highlight responsive-table">
                <thead class="blue darken-4 white-text">
                    <tr>
                        <th>Operador</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>in</td>
                        <td>Devuelve True si el valor se encuentra en una secuencia; False en caso contrario.</td>
                    </tr>
                    <tr>
                        <td>not in</td>
                        <td>Devuelve True si el valor no se encuentra en una secuencia; False en caso contrario.</td>
                    </tr>
                </tbody>
            </table>

            <p>A continuación vemos unos ejemplos que son muy intuitivos:</p>
            <code>
                <pre class="lime lighten-5">
                    >>> lista = [1, 3, 2, 7, 9, 8, 6]
                    >>> 4 in lista
                    False
                    >>> 3 in lista
                    True
                    >>> 4 not in lista
                    True</pre>
            </code>



            <h4 id="opIden">Operadores de identidad</h4>
            <p>Por último, los operadores de identidad se utilizan para comprobar si dos variables son, o no, el mismo objeto.</p>
            <table class="bordered highlight responsive-table">
                <thead class="blue darken-4 white-text">
                    <tr>
                        <th>Operador</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>is</td>
                        <td>Devuelve True si ambos operandos hacen referencia al mismo objeto; False en caso contrario.</td>
                    </tr>
                    <tr>
                        <td>is not</td>
                        <td>Devuelve True si ambos operandos no hacen referencia al mismo objeto; False en caso contrario.</td>
                    </tr>
                </tbody>
            </table>

            <p>¡Recuerda!: Para conocer la identidad de un objeto se usa la función <kbd>id()</kbd>.</p>
            <code>
                <pre class="lime lighten-5">
                    >>> x = 4
                    >>> y = 2
                    >>> lista = [1, 5]
                    >>> x is lista
                    False
                    >>> x is y
                    False
                    >>> x is 4
                    True</pre>
            </code>


            <h4 id="prioridad">Prioridad de los operadores en Python</h4>
            <p>Al igual que ocurre en las matemáticas, los operadores en Python tienen un orden de prioridad. Este orden es el siguiente, de menos prioritario a más prioritario: asignación; operadores booleanos; operadores de comparación, identidad y pertenencia; a nivel de bits y finalmente los aritméticos (con el mismo orden de prioridad que en las matemáticas).</p>
            <p>Este orden de prioridad se puede alterar con el uso de los paréntesis <kbd>()</kbd>:</p>
            <code>
                <pre class="lime lighten-5">
                    >>> x = 5
                    >>> y = 2
                    >>> z = x + 3 * y  # El producto tiene prioridad sobre la suma
                    >>> z
                    11
                    >>> z = (x + 3) * y  # Los paréntesis tienen prioridad
                    >>> z
                    16</pre>
            </code>
        </div>
    </div>
</div>
{% endblock %}