{% extends "main/base.html" %}
{% load static %}

<!--Titulo de la pagina-->
{% block title %}
    POO con python
{% endblock %}

<!--Contenido de la pagina-->
{% block content %}
<div class="principal">
    <div class="row">
        <div class="col s3">
            <div class="row">
                <div class="col s12">
                    <br/><br/><br><br>
                  <h5><center>Contenido</center></h5>
                  <div class="card-panel yellow lighten-2">
                    <ul>
                        <li><a href="#poo" class="grey-text text-darken-4">Python es un lenguaje OO</a></li>
                        <li><a href="#clases-objetos" class="grey-text text-darken-4">Clases y objetos en python</a></li>
                        <li><a href="#constructor" class="grey-text text-darken-4">Constructor de una clase en python</a></li>
                        <li><a href="#atributos-de-datos" class="grey-text text-darken-4">Atributos, atributos de datos y m&eacute;todos</a></li>
                        <li><a href="#atributos-de-clase" class="grey-text text-darken-4">Atributos de clase y atributos de instancia</a></li>
                        <li><a href="#herencia" class="grey-text text-darken-4">Herencia en Python</a></li>
                        <li><a href="#herencia-multiple" class="grey-text text-darken-4">Herencia m&uacute;ltiple en python</a></li>
                        <li><a href="#encapsulacion" class="grey-text text-darken-4">Encapsulaci&oacute;n: atributos privados</a></li>
                        <li><a href="#polimorfismo" class="grey-text text-darken-4">Polimorfismo</a></li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
        <div class="col s9">
            <h2><center>Programaci&oacute;n Orientada a Objetos con Python</center></h2>
            <p>
                La programación orientada a objetos (POO, u OOP según sus siglas en inglés) es un paradigma de programación que viene a innovar la forma de obtener resultados. Los objetos manipulan los datos de entrada para la obtención de datos de salida específicos, donde cada objeto ofrece una funcionalidad especial.
                La POO tiene sus raíces en la década del 60 con el lenguaje de programación Simula que en 1967, el cual fue el primer lenguaje que posee las características principales de un lenguaje orientado a objetos.
                Smalltalk (de 1972 a 1980) es posiblemente el ejemplo canónico, y con el que gran parte de la teoría de la POO se ha desarrollado. Más su uso se popularizó a principios de la década de 1990.
                En la actualidad, existe una gran variedad de lenguajes de programación que soportan la orientación a objetos.
            </p>
            <div class="col s8"> 
                <h4 id="poo">Python es un lenguaje Orientado a Objetos</h4>
                <p>
                    El mecanismo de clases de Python agrega clases al lenguaje con un mínimo de nuevas sintaxis y semánticas.
                    En Python las clases es una mezcla de los mecanismos de clase encontrados en C++ y Modula-3.
                    Como es cierto para los módulos, las clases en Python no ponen una barrera absoluta entre la definición y el usuario, sino que más bien se apoya en la cortesía del usuario de no «forzar la definición».
                    Sin embargo, se mantiene el poder completo de las características más importantes de las clases: el mecanismo de la herencia de clases permite múltiples clases base, una clase derivada puede sobrescribir cualquier método de su(s) clase(s) base, y un método puede llamar al método de la clase base con el mismo nombre.
                </p>
            </div>
            <div class="col s4">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="https://entrenamiento-python-basico.readthedocs.io/es/latest/_images/oop.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                          <p>"El mejor modo de predecir el futuro es invent&aacute;ndolo"</p>
                        </div>
                        <div class="card-action">
                            <a href="https://es.wikipedia.org/wiki/Alan_Kay"><center>ALAN KAY</center></a>
                        </div>
                    </div>
                </div>
            </div> 
            <h4 id="clases-objetos">Clases y objetos en python</h4>
            <p>
                Básicamente, una clase es una entidad que define una serie de elementos que determinan un estado (datos) y un comportamiento (operaciones sobre los datos que modifican su estado).
                Por su parte, un objeto es una concreción o instancia de una clase.
                Tranqui, que lo vas a entender con el siguiente ejemplo.
                Seguro que si te digo que te imagines un coche, en tu mente comienzas a visualizar la carrocería, el color, las ruedas, el volante, si es diésel o gasolina, el color de la tapicería, si es manual o automático, si acelera o va marcha atrás, etc.
                Pues todo lo que acabo de describir viene a ser una clase y cada uno de los de coches que has imaginado, serían objetos de dicha clase.
                ¿Cómo pasamos lo anterior a Python? Veámoslo.
                Como te decía, una clase engloba datos y funcionalidad. Cada vez que se define una clase en Python, se crea a su vez un tipo nuevo (¿recuerdas? tipo int, float, str, list, tuple, … todos ellos están definidos en una clase).
            </p>
            <pre class="lime lighten-5">
                            class Persona:
                                """Clase que representa una Persona"""
                                dui = "00010101-1"
                                nombre = "Domingo"
                                apellido = "Monterrosa"
                                sexo = "M"
            </pre>
            <h4 id="constructor">Constructor de una clase en python</h4>
            <p>
                En la sección anterior me he adelantado un poco… Para crear un objeto de una clase determinada, es decir, instanciar una clase, se usa el nombre de la clase y a continuación se añaden paréntesis (como si se llamara a una función).
                El código anterior crea una nueva instancia de la clase MiClase y asigna dicho objeto a la variable obj. Esto crea un objeto vacío, sin estado.
                Sin embargo, hay clases (como nuestra clase Coche) que deben o necesitan crear instancias de objetos con un estado inicial.
                Esto se consigue implementando el método especial __init__(). Este método es conocido como el constructor de la clase y se invoca cada vez que se instancia un nuevo objeto.
                El método __init__() establece un primer parámetro especial que se suele llamar self (veremos qué significa este nombre en la siguiente sección). Pero puede especificar otros parámetros siguiendo las mismas reglas que cualquier otra función.
            </p>
            <pre class="lime lighten-5">
                            class Persona:
                                """Clase que representa una Persona"""
                                dui = "00010101-1"
                                nombre = "Domingo"
                                apellido = "Monterrosa"
                                sexo = "M"
            </pre>
            <h4 id="atributos-de-datos">Atributos, atributos de datos y m&eacute;todos</h4>
            <p>
                Una vez que sabemos qué es un objeto, tengo que decirte que la única operación que pueden realizar los objetos es referenciar a sus atributos por medio del operador .
                Como habrás podido apreciar, un objeto tiene dos tipos de atributos: atributos de datos y métodos.
                Los atributos de datos definen el estado del objeto. En otros lenguajes son conocidos simplemente como atributos o miembros.
                Los métodos son las funciones definidas dentro de la clase.
            </p>
            <h4 id="atributos-de-clase">Atributos de clase y atributos de instancia</h4>
            <p>
                Una clase puede definir dos tipos diferentes de atributos de datos: atributos de clase y atributos de instancia.
                Los atributos de clase son atributos compartidos por todas las instancias de esa clase.
                Los atributos de instancia, por el contrario, son únicos para cada uno de los objetos pertenecientes a dicha clase.
                En el ejemplo de la clase Coche, ruedas se ha definido como un atributo de clase, mientras que color, aceleracion y velocidad son atributos de instancia.
            </p>
            <h4 id="herencia">Herencia en Python</h4>
            <p>
                En programación orientada a objetos, la herencia es la capacidad de reutilizar una clase extendiendo su funcionalidad. 
                Una clase que hereda de otra puede añadir nuevos atributos, ocultarlos, añadir nuevos métodos o redefinirlos.
            </p>
            <pre class="lime lighten-5">
                class Persona(object):
                    """Clase que representa una Persona"""
                    
                    def __init__(self, cedula, nombre, apellido, sexo):
                        """Constructor de clase Persona"""
                        self.cedula = cedula
                        self.nombre = nombre
                        self.apellido = apellido
                        self.sexo = sexo

                    def __str__(self):
                        """Devuelve una cadena representativa de Persona"""
                        return "%s: %s, %s %s, %s." % (
                            self.__doc__[25:34], str(self.cedula), self.nombre, 
                            self.apellido, self.getGenero(self.sexo))    

                    def hablar(self, mensaje):
                        """Mostrar mensaje de saludo de Persona"""
                        return mensaje
                    
                    def getGenero(self, sexo):
                        """Mostrar el genero de la Persona"""
                        genero = ('Masculino','Femenino')
                        if sexo == "M":
                            return genero[0]
                        elif sexo == "F":
                            return genero[1]
                        else:
                            return "Desconocido"
            </pre>
            <h4 id="herencia-multiple">Herencia m&uacute;ltiple en python</h4>
            <p>
                La herencia nos permite usar las características de la clase principal en una clase secundaria y es una característica esencial de la programación orientada a objetos. Ayuda con la reutilización y la transitividad de los datos de la clase principal a la 
                clase secundaria y compensa la pérdida de datos. La herencia múltiple es cuando la clase secundaria hereda los métodos y características de dos o más clases principales. Es beneficioso obtener todos los datos a la vez. Aún así, por otro lado, viene con complejidad y ambigüedad de uso. 
                Es ambiguo decir qué característica es de qué padre si varios padres poseen la misma característica. 
                Ocurre cuando la herencia múltiple no se usa o no se implementa correctamente. 
                Python es un lenguaje de programación que permite herencia múltiple. Esto quiere decir que una clase puede heredar de más de una clase a la vez.
            </p>
            <center><img src="http://3.bp.blogspot.com/_on8T2PWMfto/Scht9ybtosI/AAAAAAAABbs/GkqI08GKpI8/s320/herenciaMultiple.png" alt="Herencia multiple"/></center>
            <h4 id="encapsulacion">Encapsulaci&oacute;n: atributos privados</h4>
            <p>
                Encapsulación (o encapsulamiento), en programación orientada a objetos, hace referencia a la capacidad que tiene un objeto de ocultar su estado, de manera que sus datos solo se puedan modificar por medio de las operaciones (métodos) que ofrece.
                Si vienes de otros lenguajes de programación, quizá te haya resultado raro que no haya mencionado nada sobre atributos públicos o privados.
                Bien, por defecto, en Python, todos los atributos de una clase (atributos de datos y métodos) son públicos. Esto quiere decir que desde un código que use la clase, se puede acceder a todos los atributos y métodos de dicha clase.
                No obstante, hay una forma de indicar en Python que un atributo, ya sea un dato o un método, es interno a una clase y no se debería utilizar fuera de ella. Algo así como los miembros privados de otros lenguajes. Esto es usando el carácter guión bajo _atributo antes del nombre del atributo que queramos ocultar.
            </p>
            <h4 id="polimorfismo">Polimorfismo</h4>
            <p>
                El polimorfismo es uno de los pilares básicos en la programación orientada a objetos, por lo que para entenderlo es importante tener las bases de la POO y la herencia bien asentadas.
                El término polimorfismo tiene origen en las palabras poly (muchos) y morfo (formas), y aplicado a la programación hace referencia a que los objetos pueden tomar diferentes formas. ¿Pero qué significa esto?
                Pues bien, significa que objetos de diferentes clases pueden ser accedidos utilizando el mismo interfaz, mostrando un comportamiento distinto (tomando diferentes formas) según cómo sean accedidos.
            </p>
        </div>
    </div>
</div>
{% endblock %}