{% extends "main/base.html" %}
{% load static %}

<!--Titulo de la pagina-->
{% block title %}
    Variables en Python
{% endblock %}

<!--Contenido de la pagina-->
{% block content %}
<div class="principal">
    <div class="row">
        <div class="col s3">
            <div class="row">
                <div class="col s12">
                    <br/><br/><br><br>
                  <h5><center>Contenido</center></h5>
                  <div class="card-panel yellow lighten-2">
                    <ul class="browser-default">
                        <li><a href="#carac" class="grey-text text-darken-4">Características del lenguaje Python</a></li>
                        <li><a href="#interp" class="grey-text text-darken-4">El intérprete de Python</a></li>
                        <li><a href="#oper" class="grey-text text-darken-4">Operadores, expresiones y sentencias en Python</a></li>
                        <li><a href="#bloq" class="grey-text text-darken-4">Bloques de código (Indentación)</a></li>
                        <li><a href="#comen" class="grey-text text-darken-4">Comentarios en Python</a></li>
                        <li><a href="#conv" class="grey-text text-darken-4">Convenciones de nombres en Python</a></li>
                        <li><a href="#palab" class="grey-text text-darken-4">Palabras reservadas de Python</a></li>
                        <li><a href="#cons" class="grey-text text-darken-4">Constantes en Python</a></li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
        <div class="col s9">
            <h2><center>Introducción a Python</center></h2>
            <p>En este tutorial de introducción a Python vas a descubrir las características principales del lenguaje, aquello que lo hace único y que te hará falta conocer para implementar cualquier programa en este lenguaje.</p>

            <h4 id="carac">Características del lenguaje Python</h4>
            <p>Python es un lenguaje de programación de alto nivel cuya máxima es la legibilidad del código. Las principales características de Python son las siguientes:</p>
            <ul class="browser-default">
                <li><b>Es multiparadigma</b>, ya que soporta la programación imperativa, programación orientada a objetos y funcional.</li>
                <li><b>Es multiplataforma</b>: Se puede encontrar un intérprete de Python para los principales sistemas operativos: Windows, Linux y Mac OS. Además, se puede reutilizar el mismo código en cada una de las plataformas.</li>
                <li><b>Es dinámicamente tipado</b>: Es decir, el tipo de las variables se decide en tiempo de ejecución.</li>
                <li><b>Es fuertemente tipado</b>: No se puede usar una variable en un contexto fuera de su tipo. Si se quisiera, habría que hacer una conversión de tipos.</li>
                <li><b>Es interpretado</b>: El código no se compila a lenguaje máquina.</li>
            </ul>
            <p>El hecho de que Python sea interpretado quiere decir que hace falta un intérprete que permita ejecutar un programa o script escrito en Python sin necesidad de compilarlo.</p>  


            <h4 id="interp">El intérprete de Python</h4>
            <p>Cuando instalas Python correctamente (en cualquier sistema operativo) ocurren, entre otras, dos cosas: se añade el comando python (o python3, en caso de que instales la versión 3.x de Python) al path y se instala el intérprete de Python correspondiente.</p>
            <h5>Cómo ssaber qué version de Python tengo instalada</h5>
            <p>Si ya has instalado Python, abre una consola o terminal y ejecuta el comando <kbd>python3</kbd>. Este comando lanzará el intérprete de Python correspondiente. Debes ver algo similar a esta imagen:</p>
            <img alt="Interprete de Python" class="responsive-img" src="{% static 'media/interpretePython.png' %}">
            <p>Si te fijas bien, en la primera línea podemos ver la versión del intérprete de Python que tenemos instalado en nuestro ordenador. En mi caso es la versión 3.7.4.</p>
            <p>En el intérprete de Python podemos escribir expresiones e instrucciones que este interpretará y ejecutará.</p>
            <p>Puedes probar, por ejemplo, a escribir <kbd>2 + 3</kbd>. El resultado debe ser el siguiente:</p>
            <code>
                <pre class="lime lighten-5">
                    >>> 2 + 3
                    5</pre>
            </code>
            <p>O ejecutar la instrucción <kbd>print('¡Hola mundo!')</kbd>:</p>
            <code>
                <pre class="lime lighten-5">
                    >>> print('¡Hola mundo!')
                    ¡Hola mundo!</pre>
            </code>
            <p>ara salir del intérprete basta con ejecutar la instrucción <kbd>quit()</kbd>.</p>
            <p>No obstante, aunque esta forma de escribir código puede ser útil para aprender y en casos muy puntuales, no es la habitual a la hora de escribir un programa o script en Python.</p>

            <h5>Primer programa en Python</h5>
            <p>Normalmente, los programas en Python se escriben en archivos con la extensión <kbd>.py</kbd>. Estos archivos se pasan al intérprete de Python para que los interprete y ejecute.</p>
            <p>Vamos a verlo con un ejemplo. Crea con un editor de texto un fichero llamado <kbd>suma.py</kbd> con el siguiente contenido:</p>
            <code>
                <pre class="lime lighten-5">
                    suma = 2 + 3
                    print(suma)</pre>
            </code>
            <p>A continuación abre un terminal, sitúate en el directorio en el que creaste el archivo <kbd>suma.py</kbd> y ejecuta lo siguiente:</p>
            <code>
                <pre class="lime lighten-5">
                    python3 suma.py</pre>
            </code>
            <p>En el terminal verás que aparece el número <kbd>5</kbd> como resultado de ejecutar el programa anterior. ¿Qué ha ocurrido aquí? Básicamente que el intérprete de Python ha leído y ejecutado las líneas de código que hemos escrito en el fichero <kbd>suma.py</kbd>.</p>
            <p>Esta es la manera más común de crear y ejecutar programas en Python.</p>



            <h4 id="oper">Operadores, expresiones y sentencias en Python</h4>
            <p>En este tutorial de introducción a Python quiero que aprendas la diferencia entre operador, expresión y sentencia, ya que son las formas básicas que componen la estructura de cualquier programa.</p>
            <h5>Operador</h5>
            <p>Un <b>operador</b> es un carácter o conjunto de caracteres que actúa sobre una, dos o más <b>variables</b> y/o <b>literales</b> para llevar a cabo una <b>operación</b> con un <b>resultado</b> determinado.</p>
            <p>Ejemplos de operadores comunes son los operadores aritméticos <kbd>+</kbd> (suma), <kbd>-</kbd> (resta) o <kbd>*</kbd> (producto), aunque en Python existen otros operadores.</p>

            <h5>Expresión</h5>
            <p>Una expresión es una unidad de código que devuelve un valor y está formada por una combinación de operandos (variables y literales) y operadores. Los siguientes son ejemplos de expresiones (cada línea es una expresión diferente):</p>
            <code>
                <pre class="lime lighten-5">
                    5 + 2  # Suma del número 5 y el número 2
                    a < 10  # Compara si el valor de la variable a es menor que 10
                    b is None  # Compara si la identidad de la variable b es None
                    3 * (200 - c) # Resta a 200 el valor de c y lo multiplica por 3</pre>
            </code>

            <h5>Sentencia</h5>
            <p>Por su parte, una sentencia o declaración es una instrucción que define una acción. Una sentencia puede estar formada por una o varias expresiones, aunque no siempre es así.</p>
            <p>En definitiva, las sentencias son las instrucciones que componen nuestro programa y determinan su comportamiento.</p>
            <p>Ejemplos de sentencias son la asignación <kbd>=</kbd> o las instrucciones <kbd>if</kbd>, <kbd>if ... else ...</kbd>, <kbd>for</kbd> o <kbd>while</kbd> entre otras.</p>
            <p> Una sentencia está delimitada por el carácter <kbd>Enter (\n)</kbd>.</p>

            <h5>Sentencias de más de una línea</h5>
            <p>Normalmente, las sentencias ocupan una sola línea. Por ejemplo:</p>
            <code>
                <pre class="lime lighten-5">
                    a = 2 + 3  # Asigna a la variable 'a' el resultado de 2 + 3</pre>
            </code>
            <p>Sin embargo, aquellas sentencias que son muy largas pueden ocupar más de una línea (la guía de estilo PEP 8, recomienda una longitud de línea máxima de 72 caracteres).</p>
            <p>Para dividir una sentencia en varias líneas se utiliza el carácter <kbd>\</kbd>. Por ejemplo:</p>
            <code>
                <pre class="lime lighten-5">
                    a = 2 + 3 + 5 + \
                        7 + 9 + 4 + \
                        6</pre>
            </code>
            <p>Además de la separación explícita (la que se realiza con el carácter <kbd>\</kbd>), en Python la continuación de línea es implícita siempre y cuando la expresión vaya dentro de los caracteres <kbd>()</kbd>, <kbd>[]</kbd> y <kbd>{}</kbd>.</p>
            <p>Por ejemplo, podemos inicializar una lista del siguiente modo:</p>
            <code>
                <pre class="lime lighten-5">
                    a = [1, 2, 7,
                        3, 8, 4,
                        9]</pre>
            </code>
            <p>No te preocupes si no sabes lo que es una lista o no entiendes lo que hace el ejemplo anterior. Lo importante es que comprendas que lo anterior es una sentencia multi-línea ya que está comprendida entre los caracteres <kbd>[]</kbd>.</p>
            
            
            
            <h4 id="bloq">Bloques de código (Indentación)</h4>
            <p>Lo último que veremos sobre sentencias en esta introducción a Python es cómo se pueden agrupar en bloques de código.</p>
            <p>Un bloque de código es un grupo de sentencias relacionadas bien delimitadas. A diferencia de otros lenguajes como JAVA o C, en los que se usan los caracteres <kbd>{}</kbd> para definir un bloque de código, en Python se usa la indentación o sangrado.</p>
            <p>El sangrado o indentación consiste en mover un bloque de texto hacia la derecha insertando espacios o tabuladores al principio de la línea, dejando un margen a la izquierda.</p>
            <p>Esta es una de las principales características de Python.</p>
            <p>Un bloque comienza con un nuevo sangrado y acaba con la primera línea cuyo sangrado sea menor. De nuevo, la guía de estilo de Python recomienda usar los espacios en lugar de las tabulaciones para realizar el sangrado. Yo suelo utilizar 4 espacios.</p>
            <p>Configura tu IDE de desarrollo para que use los espacios en lugar de los tabuladores para el sangrado. Establece el número de espacios a 4 ó 2.</p>
            <p>Veamos todo esto con un ejemplo:</p>
            <code>
                <pre class="lime lighten-5">
                    def suma_numeros(numeros):  # Bloque 1
                        suma = 0                # Bloque 2
                        for n in numeros:       # Bloque 2
                            suma += n           # Bloque 3
                            print(suma)         # Bloque 3
                        return suma             # Bloque 2</pre>
            </code>
            <p>Como te decía en la sección anterior, no hace falta todavía que entiendas lo que hace el ejemplo. Simplemente debes comprender que en la línea 1 se define la función <kbd>suma_numeros</kbd>. El cuerpo de esta función está definido por el grupo de sentencias que pertenecen al bloque 2 y 3. A su vez, la sentencia <kbd>for</kbd> define las acciones a realizar dentro de la misma en el conjunto de sentencias que pertenecen al bloque 3.</p>



            <h4 id="comen">Comentarios en Python</h4>
            <p>Como cualquier otro lenguaje de programación, Python permite escribir comentarios en el código. Los comentarios son útiles para explicar por qué estamos programando algo de un modo concreto o añadir indicaciones. Te aseguro que son de utilidad cuando se retoma un programa o aplicación en el futuro.</p>
            <p>Los comentarios son ignorados por el intérprete de Python. Solo tienen sentido para los programadores.</p>
            <p>Para añadir un comentario a tu código simplemente comienza una línea con el carácter <kbd>#</kbd>:</p>
            <code>
                <pre class="lime lighten-5">
                    # Esta línea es un comentario

                    a = 5

                    # Resultado de multiplicar a por 2
                    print(a * 2)</pre>
            </code>

            <h5>Comentarios de varias líneas</h5>
            <p>Para escribir comentarios que ocupan varias líneas, simplemente escribe cada una de las líneas anteponiendo el carácter <kbd>#</kbd>:</p>
            <code>
                <pre class="lime lighten-5">
                    # Este comentario ocupa
                    # 2 líneas</pre>
            </code>
            <p>También puedes escribir un comentario en varias líneas si lo encierras entre tres comillas simples <kbd>'''</kbd> o dobles <kbd>"""</kbd></p>
            <code>
                <pre class="lime lighten-5">
                    a = 2

                    '''Este comentario
                    también ocupa 2 líneas'''

                    print(a)</pre>
            </code>
            <p>Sin embargo, personalmente no me gusta este modo de definir un comentario en varias líneas porque también es la forma de definir un <kbd>string</kbd> en varias líneas.</p>

            <h5>Docstrings</h5>
            <p>Los docstrings son un tipo de comentarios especiales que se usan para documentar un módulo, función, clase o método. En realidad son la primera sentencia de cada uno de ellos y se encierran entre tres comillas simples o dobles.</p>
            <p>Los docstrings son utilizados para generar la documentación de un programa. Además, suelen utilizarlos los entornos de desarrollo para mostrar la documentación al programador de forma fácil e intuitiva.</p>
            <p>Veámoslo con un ejemplo:</p>
            <code>
                <pre class="lime lighten-5">
                    def suma(a, b):
                        """Esta función devuelve la suma de los parámetros a y b"
                        return a + b</pre>
            </code>



            <h4 id="conv">Convenciones de nombres en Python</h4>
            <p>A la hora de nombrar una variable, una función, un módulo, una clase, etc. en Python, siempre se siguen las siguientes reglas y recomendaciones:</p>
            <ul class="browser-default">
                <li>Un identificador puede ser cualquier combinación de letras (mayúsculas y minúsculas), números y el carácter guión bajo (<kbd>_</kbd>).</li>
                <li>Un identificador no puede comenzar por un número.</li>
                <li>A excepción de los nombres de clases, es una convención que todos los identificadores se escriban en minúsculas, separando las palabras con el guión bajo. Ejemplos: <kbd>contador</kbd>, <kbd>suma_enteros</kbd>.</li>
                <li>Es una convención que los nombres de clases sigan la notación Camel Case, es decir, todas las letras en minúscula a excepción del primer carácter de cada palabra, que se escribe en mayúscula. Ejemplos: <kbd>Coche</kbd>, <kbd>VehiculoMotorizado</kbd>.</li>
                <li>No se pueden usar como identificadores las palabras reservadas.</li>
                <li>Como recomendación, usa identificadores que sean expresivos. Por ejemplo, <kbd>contador</kbd> es mejor que simplemente <kbd>c</kbd>.</li>
                <li>Python diferencia entre mayúsculas y minúsculas, de manera que <kbd>variable_1</kbd> y <kbd>Variable_1</kbd> son dos identificadores totalmente diferentes.</li>
            </ul>



            <h4 id="palab">Palabras reservadas de Python</h4>
            <p>Python tiene una serie de palabras clave <b>reservadas</b>, por tanto, <b>no pueden usarse como nombres de variables, funciones, etc</b>.</p>
            <p>Estas palabras clave se utilizan para definir la sintaxis y estructura del lenguaje Python.</p>
            <p>A continuación vemos unos ejemplos que son muy intuitivos:</p>
            <p>La lista de palabras reservadas es la siguiente:</p>
            <p><kbd>and</kbd>, <kbd>as</kbd>, <kbd>assert</kbd>, <kbd>break</kbd>, <kbd>class</kbd>, <kbd>continue</kbd>, <kbd>def</kbd>, <kbd>del</kbd>, <kbd>elif</kbd>, <kbd>else</kbd>, <kbd>except</kbd>, <kbd>False</kbd>, <kbd>finally</kbd>, <kbd>for</kbd>, <kbd>from</kbd>, <kbd>global</kbd>, <kbd>if</kbd>, <kbd>import</kbd>, <kbd>in</kbd>, <kbd>is</kbd>, <kbd>lambda</kbd>, <kbd>None</kbd>, <kbd>nonlocal</kbd>, <kbd>not</kbd>, <kbd>or</kbd>, <kbd>pass</kbd>, <kbd>raise</kbd>, <kbd>return</kbd>, <kbd>True</kbd>, <kbd>try</kbd>, <kbd>yield</kbd>, <kbd>while</kbd> y <kbd>with</kbd></p>
            


            <h4 id="cons">Constantes en Python</h4>
            <p>Terminamos esta introducción a Python señalando que, a diferencia de otros lenguajes, <b>en Python no existen las constantes</b>.</p>
            <p>Entendemos como constante una variable que una vez asignado un valor, este no se puede modificar. Es decir, que a la variable no se le puede asignar ningún otro valor una vez asignado el primero.</p>
            <p>Se puede simular este comportamiento, siempre desde el punto de vista del programador y atendiendo a convenciones propias, pero no podemos cambiar la naturaleza mutable de las variables.</p>
            <p>No obstante, sí que es cierto que el propio Python define una serie de valores constantes en su propio namespace. Los más importantes son:</p>
            <ul class="browser-default">
                <li><b>False:</b> El valor false del tipo <kbd>bool</kbd>.</li>
                <li><b>True:</b> El valor true del tipo <kbd>bool</kbd>.</li>
                <li><b>None:</b> El valor del tipo <kbd>NoneType</kbd>. Generalmente <kbd>None</kbd> se utiliza para representar la ausencia de valor de una variable.</li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}