{% extends "main/base.html" %}
{% load static %}

<!--Titulo de la pagina-->
{% block title %}
    Videos complementarios
{% endblock %}

<!--Contenido de la pagina-->
{% block content %}



<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>Videos complementarios</h1>
        </div>
        <br>

        <!--Video 1-->
        <div class="col s12 center-align">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/chPhlsHoEPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col s12 justified-align">
            <p>En este curso se tratan las bases del lenguaje de programaci&oacute;n Python, siendo un lenguaje de propósito general puedes llegar a crear con el aplicaciones web, aplicaciones de escritorio, aprender Hacking e Inteligencia Artificial</p>
        </div>

        <!--Video 2-->
        <div class="col s12 center-align">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/ppz1e_ceeIw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col s12 justified-align">
            <p>Curso completo de programaci&oacute;n en Python para principantes. Incluye una introducci&oacute;n al ambiente de Python, tipos de datos, declaraciones, metodos, funciones y POO</p>
        </div>

        <!--Video 3-->
        <div class="col s12 center-align">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/DLikpfc64cA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col s12 justified-align">
            <p>Video de curso de introducci&oacute;n a Python que incluye preguntas r&aacute;pidas que sirven de ayuda en el lapso del curso</p>
        </div>

        <!--Video 4-->
        <div class="col s12 center-align">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/mQ0IUy_18mI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col s12 justified-align">
            <p>Este video es una introducci&oacute;n al desarrollo web con django. Respecto a los pasos previos para el desarrollo web con django incluye: la instalaci&oacute;n de Python, configuracion del ambiente virtual y VS Code, una explicaci&oacute;n del uso de GitHub. Respecto al desarrollo web con django incluye: crear un proyecto, App Core, vistas y template, variables de ambiente, modelos de admin, formularios de creacion, modificacion, y eliminacion</p>
        </div>

        <!--Video 5-->
        <div class="col s12 center-align">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/vo4VF3neyrs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col s12 justified-align">
            <p>Curso de introducci&oacute;n al framework web Django, modelo vista template, entornos virtuales, base de datos y CRUD con un formulario de contacto.</p>
        </div>
    </div>
</div>



<br>
<br>
{% endblock %}