{% extends "main/base.html" %}
{% load static %}

<!--Titulo de la pagina-->
{% block title %}
    Academia
{% endblock %}

<!--Contenido de la pagina-->
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="center-align">
                <h4>Bienvenido a Pythonico</h4>
            </div>
            <p>Pythonico es un sitio web de contenido propio que pretende dar a conocer el lenguaje de programación Python, enfocado a enseñar de manera efectiva la sintaxis de las estructuras básicas de programación en dicho lenguaje y posteriormente su implementación en el desarrollo web, mostrando frameworks, herramientas y ejemplos prácticos.</p>
            <p>Este curso de Python es una introducción a los principales aspectos y características del lenguaje. El tutorial sirve de guía de inicio para dar los primeros pasos con Python, familiarizarse con su sintaxis, conocer los principales tipos de datos y entender algunos conceptos clave.</p>
            <p>Aplican a los beneficios personas las cuales tengan un entusiasmo por la programación, aquellas a las cuales se les busca dar una adecuada, entretenida y concreta educación en el lenguaje de programación de Python, el curso brinda y busca la solución a diferentes problemas dentro de las comunidades de personas que programan o quieren programar.</p>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col l7 m7 s12">
            <ul class="collection with-header">
                <li class="collection-header"><h4>M&oacute;dulo 1</h4></li>
                <li class="collection-item"><div>Introducci&oacute;n a Python<a href="{% url 'Introduccion' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Variables<a href="{% url 'Variables' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Tipos de datos b&aacute;sicos<a href="{% url 'TiposDatos' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Operadores<a href="{% url 'Operadores' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header"><h4>M&oacute;dulo 2</h4></li>
                <li class="collection-item"><div>Sentencia if<a href="{% url 'SentenciaIf' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Bucle While<a href="{% url 'BucleWhile' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>For en Python<a href="{% url 'BucleFor' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header"><h4>M&oacute;dulo 3</h4></li>
                <li class="collection-item"><div>Tipo list<a href="{% url 'TipoList' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Tipo tuple<a href="{% url 'TipoTuple' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Tipo range<a href="{% url 'TipoRange' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Tipo set<a href="{% url 'TipoSet' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Tipo dict<a href="{% url 'TipoDict' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Tipo str<a href="{% url 'TipoStr' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header"><h4>M&oacute;dulo 4</h4></li>
                <li class="collection-item"><div>Funciones<a href="{% url 'Funciones' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Espacios de nombres, m&oacute;dulos y paquetes<a href="{% url 'Espacionmp' %}" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Programaci&oacute;n orientada a objetos en Python<a href="/POO/" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
            </ul>

            <ul class="collection with-header">
                <li class="collection-header"><h4>Inicios en Django</h4></li>
                <li class="collection-item"><div>Django 01: Inicios django<a href="/tutorial01/" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Django 02: Configurar base de datos<a href="/tutorial02/" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Django 03: Creaci&oacute;n de la interfaz p&uacute;blica<a href="/tutorial03/" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Django 04: Procesamiento de formularios<a href="/tutorial04/" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
            </ul>
        </div>

        <div class="col l1 m1 s12"></div>

        <div class="col l4 m4 s12">
            <ul class="collection with-header">
                <li class="collection-header"><a class="black-text" href="{% url 'Libros' %}"><h4>Recursos</h4></a></li>
                <li class="collection-item"><div>M&oacute;dulo 1<a href="/libros/#modulo1" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>M&oacute;dulo 2<a href="/libros/#modulo2" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>M&oacute;dulo 3<a href="/libros/#modulo3" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>M&oacute;dulo 4<a href="/libros/#modulo4" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
                <li class="collection-item"><div>Framework Django<a href="/libros/#django" class="secondary-content blue-text text-darken-4"><i class="material-icons">launch</i></a></div></li>
            </ul>
            <br>
            <br>

            <a class="black-text" href="{% url 'VideosComplementarios' %}"><h4>Videos complementarios</h4></a>
            <iframe src="https://www.youtube.com/embed/chPhlsHoEPo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <br>
    <br>
</div>
{% endblock %}