<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Cargar un estilo css ejemplo: <link href="{% static 'css/stilos.css' %}"-->
    <!--Materialize-->
    <!-- Compiled and minified CSS -->
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet"/>
    <link  href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--El block title es utilizado para informar a django que se espera que el titulo se diferente en cada pagina-->
    <title>{% block title %}   {% endblock %}</title>
</head>
<body>
    <!--Barra de navegacion-->
    <nav class=" blue darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img  width="62" src="{% static 'media/PYTHONICO.png' %}"></a>   
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Premium</a></li>
                <li><a href="/comunidad">Comunidad</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Iniciar sesi&oacute;n</a></li>
            </ul>
        </div>
    </nav>
    <!--Contenido cambiante-->
    {% block content %}


    {% endblock %}
    <!--Pie de pagina-->
    <footer class="page-footer blue darken-4">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Pythonico</h5>
              <p class="grey-text text-lighten-4">Curso de python desarrollado por el Grupo #13 con fines educativos para la materia T&eacute;cnicas de Programaci&oacute;n para Internet de la Universidad de El Salvador.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 Copyright
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>   
      
    <!-- Compiled and minified JavaScript for Materialize-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</body>
</html>