{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../static/css/style1.css">

    <title>Mi cuenta</title>
  </head>
<body>
    <nav class=" blue darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img  width="62" src="{% static 'media/PYTHONICO.png' %}"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Premium</a></li>
                <li><a href="/comunidad">Comunidad</a></li>
                <li><a href="/nosotros">Acerca de</a></li>
                <li>                    
                    <div class="col-md-6">                
                          <div class="dropdown usuario">
                            <button class="btn btn-secondary dropdown-toggle blue" type="button" id="dropdownuser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Usuario
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/cuenta">Mi cuenta</a>
                              <a class="dropdown-item" href="#">Cerrar sesion</a>                              
                            </div>
                          </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    
    <br><h1 style="text-align: center;">Mi cuenta</h1>
    <br><center><img src="../static/images/user.png" alt="Image" class="img-fluid" width="175" height="175"></center>
    <br>
    <br>

    <div class="container">
        <form method="put">
            
        <div class="row">
          <div class="col-md">
            <input class="form-control disabled" type="text" name="first_name" placeholder="Nombre" value="{{Nombre}}" disabled> </input>            
          </div>
          <div class="col-sm">
            <input class="form-control text-sm-left" type="text" name="last_name" placeholder="Apellido" value="{{Apellido}}" disabled>
          </div>   
        </div>

        <div>
            <input class="form-control" type="text" name="username" placeholder="Nombre de usuario" value="{{Usuario}}" disabled>
        </div>

        <br>
        <div class="row">
            <div class="col-md-6">
                <select class="form-control " name="sexo" id="exampleFormControlSelect1">
                    <option>Masculino</option>
                    <option>Femenino</option>
                  </select>
            </div>

            <div class="col-sm">
                <input class="form-control text-sm-left" type="text" name="edad" placeholder="Edad" value="{{Edad}}" disabled>
            </div>   
            
          </div>
          <div>
            <input class="form-control" type="text" name="creditcard" placeholder="Tarjeta de credito" disabled>
        </div>  
        <br><br>

        <div class="container">
            <div ><strong style="font-size: 150%;">NOTAS</strong></center></div>
            <br>
            <div class="row">                                
              <div class="col-sm" style="font-size: 125%;">
                Modulo 1
                <input class="form-control" type="text" name="notamod1" placeholder="Nota" value="{{Modulo1}}" disabled>
              </div>
              <br>
              <div class="col-sm" style="font-size: 125%;">
                Modulo 2
                <input class="form-control" type="text" name="notamod2" placeholder="Nota" value="{{Modulo2}}" disabled>
              </div>
              <br>
              <div class="col-sm" style="font-size: 125%;">
                Modulo 3
                <input class="form-control" type="text" name="notamod3" placeholder="Nota" value="{{Modulo3}}" disabled>
              </div>
              <br>
              <div class="col-sm" style="font-size: 125%;">
                Modulo 4
                <input class="form-control" type="text" name="notamod4" placeholder="Nota" value="{{Modulo4}}" disabled>
              </div>
            </div>
          </div>  
          <br><br>
          
        <div class="container">
            
            <div class="center">

                <div class="row"> 

                <div class="col-md-6">
                  <button class="btn btn-warning" type="submit">Editar</button>
              </div>

              <div class="col-md-6">
                  <button class="btn btn-info" type="submit">Actualizar</button>
              </div>

              </div>
            </div>
            
          </div>

        </form>
        </div>    
        <br><br><br><br>
                               




    


    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>


</body>

</html>