{% extends "main/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Mi cuenta
{% endblock %}
{% block content %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="../static/css/style1.css">
  </head>
  <div class="container">
    <form method="put">            
      <div class="row">          
        <div class="section">
          <h2 style="text-align: center;">Mi cuenta</h2>
          <br><center><img src="../static/static/images/user.png" alt="Image" class="img-fluid" width="175" height="175"></center>  
        </div>
        <div class="section">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Nombre" id="first_name" type="text" value="{{Nombre}}" class="validate" disabled>        
                </div>
                <div class="input-field col s6">
                  <input placeholder="Apellido" id="last_name" type="text" value="{{Apellido}}" class="validate" disabled>            
                </div>
                <div class="input-field col s12">               
                  <input placeholder="Nombre de usuario" name="username" value="{{Usuario}}" disabled>      
                </div>  
              </div>         
              <div class="row">
                <div class="input-field col s6">     
                  <input placeholder="Sexo" name="sexo" value="{{Sexo}}" disabled>        
                </div>
                <div class="input-field col s6">               
                  <input placeholder="Edad" name="edad" value="{{Edad}}" disabled>      
                </div>   
                <div class="input-field col s12">
                  <input placeholder="Email" id="email" type="text" value="{{Email}}" class="validate" disabled>            
                </div> 
                <div class="input-field col s12">
                  <input placeholder="Tarjeta de credito" id="creditcar" type="text" value="" class="validate">
                  <a class="btn-large indigo darken-4 waves-effect waves-ligh" onclick="validarTarjeta()">Activar cuenta premium</a>                    
                </div> 
              </div>
              <div class="row">      
                <h5><strong>NOTAS</strong></h5>
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s3">
                      <p>Modulo 1</p>
                      <input placeholder="Nota 1" name="notamod1" type="text" value="{{Modulo1}}" class="validate" disabled>                
                    </div>
                    <div class="input-field col s3">
                      <p>Modulo 2</p>
                      <input placeholder="Nota 2" name="notamod2" type="text" value="{{Modulo2}}" class="validate" disabled> 
                    </div>
                    <div class="input-field col s3">
                      <p>Modulo 3</p>
                      <input placeholder="Nota 3" name="notamod3" type="text" value="{{Modulo3}}" class="validate" disabled>
                    </div>
                    <div class="input-field col s3">
                      <p>Modulo 4</p>
                      <input placeholder="Nota 4" name="notamod4" type="text" value="{{Modulo4}}" class="validate" disabled>       
                    </div>
                  </div>

                  <div class="container">            
                    <div class="center">  
                      <div class="row">   
                        <div class="col s6">
                          <button class="btn btn-warning" type="submit" onclick="editar()">Editar</button>
                        </div>
                        <div class="col s6">
                          <button class="btn btn-info" type="submit">Actualizar</button>
                        </div>
                      </div>
                    </div>              
                  </div>
                </form>
              </div>
            </form>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script>
    function validarTarjeta(){
        let tarjeta = document.getElementById('creditcar').value;
        if(tarjeta == ""){
          alert("Debe ingresar una tarjeta de crédito correcta");
        }else{
          
          alert("Esta correcta")
        }
      }

      document.addEventListener('DOMContentLoaded', function() {
        applyInputMask('creditcar', '0000-0000-0000-0000');
      });

      //Mascara para la tarjeta
      function applyInputMask(elementId, mask) {
        let inputElement = document.getElementById(elementId);
        let content = '';
        let maxChars = numberCharactersPattern(mask);
        
        inputElement.addEventListener('keydown', function(e) {
          e.preventDefault();
          if (isNumeric(e.key) && content.length < maxChars) {
            content += e.key;
          }
          if(e.keyCode == 8) {
            if(content.length > 0) {
              content = content.substr(0, content.length - 1);
            }
          }
          inputElement.value = maskIt('0000-0000-0000-0000', content);
        })
      }
        function numberCharactersPattern(pattern) {
          let numberChars = 0;
          for(let i = 0; i < pattern.length; i++) {
            if(pattern[i] === '0') {
              numberChars ++;
            }
          }
          return numberChars;
        }
      function maskIt(pattern, value) {
        let position = 0;
        let currentChar = 0;
        let masked = '';
        while(position < pattern.length && currentChar < value.length) {
          if(pattern[position] === '0') {
            masked += value[currentChar];
            currentChar++;
          } else {
            masked += pattern[position];
          }
          position++;
        }
        return masked;
      }
      function isNumeric(char) {
        return !isNaN(char - parseInt(char));
      }
      function editar(){
        //Activar todos los input de la pagina
        
      }
  </script>
  <script src="../static/js/selectmaterialize.js"></script>
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/main.js"></script>
{% endblock %}