{% extends "main/base.html" %}
{% load static %}
<!--Titulo de la pagina-->
{% block title %}
    Curso django parte 1
{% endblock %}

<!--Contenido de la pagina-->
{% block content %}
<div class="principal">
    <div class="row">
        <div class="col s3">
            <div class="row">
                <div class="col s12">
                    <br/><br/><br><br>
                    <h5><center>Contenido</center></h5>
                    <div class="card-panel yellow lighten-2">
                        <ul class="browser-default">
                            <li><a href="#obtener-django" class="grey-text text-darken-4">¿C&oacute;mo obtener Django?</a></li>
                            <li><a href="#crear-proyecto" class="grey-text text-darken-4">Creando primer proyecto</a></li>
                            <li><a href="#servidor" class="grey-text text-darken-4">Servidor de django</a></li>
                            <li><a href="#app-polls" class="grey-text text-darken-4">Creando aplicación Polls</a></li>
                            <li><a href="#primera-vista" class="grey-text text-darken-4">Primera vista</a></li>
                            <li><a href="#base-de-datos" class="grey-text text-darken-4">Configuración de la base de datos</a></li>
                            <li><a href="#creando-modelos" class="grey-text text-darken-4">Creando modelos</a></li>
                            <li><a href="#modelos" class="grey-text text-darken-4">Activando modelos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s9">
            <h2><center>Curso de Django</center></h2>
            <p>
                Django es un framework web de alto nivel que permite el desarrollo rápido de sitios web seguros y mantenibles. 
                Desarrollado por programadores experimentados, Django se encarga 
                de gran parte de las complicaciones del desarrollo web, por lo que puedes concentrarte en escribir tu aplicación sin necesidad de reinventar la rueda. Es gratuito y de código abierto, tiene una comunidad próspera y activa, una gran documentación y muchas opciones de soporte gratuito y de pago.
            </p>
            <p>Django te ayuda a escribir software que es:</p>
            <h5><b>Completo</b></h5>
            <p> Django sigue la filosofía "Baterías incluidas" y provee casi todo lo que los desarrolladores quisieran 
                que tenga "de fábrica". Porque todo lo que necesitas es parte de un único "producto", todo funciona a la perfección, 
                sigue principios de diseño consistentes y tiene una amplia y actualizada documentación
            </p>
            <h5><b>Vers&aacute;til</b></h5>
            <p>Django puede ser (y ha sido) usado para construir casi cualquier tipo de sitio web — desde sistemas manejadores 
                de contenidos y wikis, hasta redes sociales y sitios de noticias. Puede funcionar con cualquier framework en el lado del cliente, y puede devolver contenido en casi cualquier formato (incluyendo HTML, RSS feeds, JSON, XML, etc). 
                ¡El sitio que estás leyendo actualmente está basado en Django!
                Internamente, mientras ofrece opciones para casi cualquier funcionalidad que desees (distintos motores de base de datos , motores de plantillas, etc.), 
                también puede ser extendido para usar otros componentes si es necesario.</p>
            <h5><b>Seguro</b></h5>    
            <p>Django ayuda a los desarrolladores evitar varios errores comunes de seguridad al proveer un framework que ha sido diseñado para "hacer lo correcto" para proteger el sitio web automáticamente. 
                Por ejemplo, Django, proporciona una manera segura de administrar cuentas de usuario y contraseñas, evitando así errores comunes como 
                colocar informaciones de sesión en cookies donde es vulnerable 
                (en lugar de eso las cookies solo contienen una clave y los datos se almacenan en la base de datos) o se almacenan directamente las contraseñas en un hash de contraseñas.</p>
            <p>Django permite protección contra algunas vulnerabilidades de forma predeterminada, 
                incluida la inyección SQL, scripts entre sitios, falsificación de solicitudes entre sitios y clickjacking (consulte Seguridad de sitios web para obtener más detalles sobre dichos ataques).
            </p>
            <h5><b>Escalable</b></h5>
            <p>Django usa un componente basado en la arquitectura <a target="blank" href="https://en.wikipedia.org/wiki/Shared-nothing_architecture">“shared-nothing”</a> 
                (cada parte de la arquitectura es independiente de las otras, y por lo 
                tanto puede ser reemplazado o cambiado si es necesario). Teniendo en cuenta una clara separación entre las diferentes partes significa que puede escalar para aumentar el tráfico al agregar hardware en cualquier nivel: servidores de cache, servidores de bases de datos o servidores de aplicación. Algunos de los sitios más concurridos han escalado a Django para satisfacer sus demandas 
                (por ejemplo, Instagram y Disqus, por nombrar solo dos).</p>
            <h4 id="obtener-django"><center>Obtener django</center></h4>
            <p>
                Django está disponible en código abierto bajo la licencia BSD . Recomendamos utilizar la última versión de Python 3. 
                La última versión compatible con Python 2.7 es Django 1.11 LTS. Para poder descargar django nos dirigiremos a la pagina de descarga de <a href="https://www.djangoproject.com/download/" target="blank">django</a>. 
            </p>
            <h4 id="crear-proyecto"><center>Creando un proyecto</center></h4>
            <p>Si es la primera vez que usa Django, tendrá que encargarse de la configuración inicial. 
                Es decir, necesitará generar automáticamente algún código que establezca un proyecto de Django : una colección de configuraciones para una instancia de Django, incluida la configuración de la base de datos, 
                las opciones específicas de Django y las configuraciones específicas de la aplicación.
            </p>
            <p>Desde la línea de comando, cd a un directorio donde le gustaria almacenar su código, luego ejecute el siguiente comando:</p>
            <pre class="lime lighten-5">
                django-admin startproject mysite
            </pre>
            <p>Esto creará mysite en su directorio actual. Si no funcionó, consulte <a href="https://docs.djangoproject.com/en/3.2/faq/troubleshooting/#troubleshooting-django-admin" target="blank">Problemas al ejecutar django-admin</a>.</p>
            <p>Veamos lo que <a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/#django-admin-startproject" target="blank">startproject</a> creó:</p>
            <pre class="lime lighten-5">
                mysite/
                    manage.py
                    mysite/
                        __init__.py
                        settings.py 
                        urls.py 
                        asgi.py 
                        wsgi.py 
            </pre>
            <p>Estos archivos son:</p>
            <ul>
                <li>El <b>mysite/</b> directorio raíz externo es un contenedor para su proyecto. Su nombre no le importa a Django; puedes cambiarle el nombre a lo que quieras. 
                </li>
                <li><b>manage.py:</b> Una utilidad de línea de comandos que le permite interactuar con este proyecto de Django de varias formas. Puede leer todos los detalles sobre manage.py en <a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/" target="_blank" rel="noopener noreferrer">django-admin</a>.</li>
                <li>El <b>mysite/</b> directorio interno es el paquete de Python real para su proyecto. Su nombre es el nombre del paquete de Python que necesitará usar para importar cualquier cosa dentro de él (por ejemplo <b>mysite.urls</b>).</li>
                <li><b>mysite/__init__.py:</b>Un archivo vacío que le dice a Python que este directorio debe considerarse un paquete de Python.</li>
                <li><b>mysite/settings.py:</b> Ajustes / configuración para este proyecto de Django. La <a href="https://docs.djangoproject.com/en/3.2/topics/settings/" target="_blank" rel="noopener noreferrer"></a> configuración de Django le dirá todo sobre cómo funciona la configuración.</li>
                <li><b>mysite/urls.py:</b> Las declaraciones de URL para este proyecto de Django; una "tabla de contenido" de su sitio impulsado por Django.</li>
                <li><b>mysite/asgi.py:</b> Un punto de entrada para servidores web compatibles con ASGI para servir su proyecto.</li>
                <li><b>mysite/wsgi.oy:</b> Un punto de entrada para servidores web compatibles con WSGI para servir su proyecto.</li>
            </ul>
            <h4 id="servidor"><center>El servidor de desarrollo</center></h4>
            <p>Verifiquemos que su proyecto Django funciona. Cambie al mysitedirectorio externo , si aún no lo ha hecho, y ejecute los siguientes comandos:</p>
            <pre class="lime lighten-5">python manage.py runserver</pre>
            <p>Verá el siguiente resultado en la línea de comando:</p>
            <pre class="lime lighten-5">
                Realización de comprobaciones del sistema ...
                La verificación del sistema no identificó problemas (0 silenciados).
                Tiene migraciones sin aplicar; es posible que su aplicación no funcione correctamente hasta que se apliquen.
                Ejecute 'python manage.py migrate' para aplicarlos.
                23 de noviembre de 2021-15: 50:53
                Django versión 3.2, usando la configuración 'mysite.settings'
                Iniciando el servidor de desarrollo en http://127.0.0.1:8000/
                Salga del servidor con CONTROL-C.
            </pre>
            <p>Ha iniciado el servidor de desarrollo Django, un servidor web ligero escrito exclusivamente en Python. Hemos incluido esto con Django para que pueda desarrollar cosas rápidamente, sin tener que lidiar con la configuración de un servidor de producción, como Apache, hasta que esté listo para la producción.</p>
            <p>Ahora que el servidor está funcionando, visite http://127.0.0.1:8000/ con su navegador web. Verás un "¡Felicitaciones!" página, con un cohete despegando. ¡Funcionó!</p>
            <h4 id="app-polls"><center>Creando la aplicación Polls</center></h4>
            <p>Ahora que su entorno, un "proyecto", está configurado, está listo para comenzar a trabajar.</p>
            <p>Cada aplicación que escribe en Django consta de un paquete de Python que sigue una determinada convención. Django viene con una utilidad que genera automáticamente la estructura de directorios básica de una aplicación, por lo que puede concentrarse en escribir código en lugar de crear directorios.</p>
            <div class="row">
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Proyecto frente a aplicaciones</span>
                      <p>¿Cuál es la diferencia entre un proyecto y una aplicación? Una aplicación es una aplicación web que hace algo, por ejemplo, un sistema de registro web, una base de datos de registros públicos o una pequeña aplicación de encuesta. Un proyecto es una colección de configuraciones y aplicaciones para un sitio web en particular. Un proyecto puede contener varias aplicaciones. Una aplicación puede estar en varios proyectos.</p>
                    </div>
                  </div>
                </div>
            </div>
            <p>Sus aplicaciones pueden vivir en cualquier lugar de su ruta de Python. En este tutorial, crearemos nuestra aplicación de encuesta en el mismo directorio que su archivo <b>manage.py</b> para que se pueda importar como su propio módulo de nivel superior, en lugar de un submódulo de mysite.</p>
            <p>Para crear su aplicación, asegúrese de estar en el mismo directorio <b>manage.py</b> y escriba este comando:</p>
            <pre>python manage.py startapp polls</pre>
            <p>Eso creará un directorio <b>polls</b>, que se presenta así:</p>
            <pre>
                polls/
                    __init__.py
                    admin.py
                    apps.py
                    migrations/
                        __init__.py
                    models.py
                    tests.py
                    views.py
            </pre>
            <p>Esta estructura de directorio albergará la aplicación de encuesta.</p>
            <h4 id="primera-vista"><center>Escribe tu primera vista</center></h4>
            <p>Escribamos la primera vista. Abra el archivo <b>polls/views.py</b> y coloque el siguiente código Python en él:</p>
            <pre>
                from django.http import HttpResponse

                def index(request):
                    return HttpResponse("Hola mundo")        
            </pre>
            <p>Esta es la vista más simple posible en Django. Para llamar a la vista, necesitamos mapearla a una URL, y para esto necesitamos una URLconf.</p>
            <p>Para crear una URLconf en el directorio de encuestas, cree un archivo llamado <b>urls.py</b>. El directorio de su aplicación ahora deberia verse así:</p>
            <pre>
                polls/
                    __init__.py 
                    admin.py 
                    apps.py 
                    migrations/ 
                        __init__.py 
                    models.py 
                    tests.py 
                    urls.py 
                    views.py 
            </pre>
            <p>En el archivo <b>polls/urls.py</b> incluya el siguiente código:</p>
            <pre>
                from django.urls import path

                from . import views
                
                urlpatterns = [
                    path('', views.index, name='index'),
                ]
            </pre>
            <p>El siguiente paso es apuntar la URLconf raíz al polls.urls módulo. En <b>mysite/urls.py</b> agregue una importación para <b>django.urls.include</b> e inserte una <b>include()</b> en la <b>urlpatterns</b> lista, para que tenga:</p>
            <pre>
                from django.contrib import admin
                from django.urls import include, path

                urlpatterns = [
                    path('polls/', include('polls.urls')),
                    path('admin/', admin.site.urls),
                ]
            </pre>
            <p>La función <b>include()</b> permite hacer referencia a otras UTLconfs. Siempre que se encuentra Django <b>include()</b>, corta cualquier parte de la URL que coincida hasta ese punto y envía la cadena restante a la URLconf incluida para su posterior procesamiento.</p>
            <p>Ahora ha conectado una vista index a la URLconf. Verifique que esté funcionando con el siguiente comando:</p>
            <pre>
                python manage.py runserver
            </pre>
            <p>A la función <b>path()</b> se le pasan cuatro argumentos, dos obligatorios: <b>route</b> y <b>view</b>, y dos opcionales: <b>kwargs</b> y <b>name</b>. En este punto, vale la pena revisar para qué sirven estos argumentos.</p>
            <h4 id="base-de-datos"><center>Configuración de la base de datos</center></h4>
            <p>Ahora, abre <b>mysite/settings.py</b>. Es un módulo Python normal con variables de nivel de módulo que representan la configuración de Django.</p>
            <p>De forma predeterminada, la configuración usa SQLite. Si es nuevo en las bases de datos o simplemente está interesado en probar Django, esta es la opción más sencilla. SQLite está incluido en Python, por lo que no necesitará instalar nada más para respaldar su base de datos. Sin embargo, al comenzar su primer proyecto real, es posible que desee utilizar una base de datos más escalable como PostgreSQL, para evitar dolores de cabeza por cambiar de base de datos en el futuro.</p>
            <p>Si desea utilizar otra base de datos, instale los <a href="https://docs.djangoproject.com/en/3.2/topics/install/#database-installation" target="_blank" rel="noopener noreferrer">enlaces de base de datos</a> adecuados y cambie las siguientes claves en el elemento para que coincidan con la configuración de conexión de su base de datos: <b>DATABASES 'default'</b>.</p>
            <ul>
                <li><b>ENGINE</b>O bien <b>'django.db.backends.sqlite3'</b>,<b> 'django.db.backends.postgresql'</b>. Tambien hay otros backends disponibles.</li>
                <li><b><a href="https://docs.djangoproject.com/en/3.2/ref/settings/#std:setting-NAME" target="_blank">NAME</a></b>-El nombre de su base de datos. Si está utilizando SQLite, la base de datos será un archivo en su computadora; en ese caso, NAME debe ser la ruta absoluta completa, incluido el nombre del archivo, de ese archivo. El valor predeterminado almacenará el archivo en el directorio de su proyecto. <b>BASE_DIR / 'db.sqlite3'</b>.</li>
            </ul>
            <div class="row">
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Para bases de datos distintas de SQLite</span>
                      <p>Si está utilizando una base de datos además de SQLite, asegúrese de haber creado una base de datos en este punto. Hágalo con " " dentro del indicador interactivo de su base de datos.CREATE DATABASE database_name;
                        También asegúrese de que el usuario de la base de datos proporcionado en mysite/settings.py tenga privilegios de "crear base de datos". Esto permite la creación automática de una base de datos de prueba que será necesaria en un tutorial posterior.
                        Si está utilizando SQLite, no necesita crear nada de antemano: el archivo de base de datos se creará automáticamente cuando sea necesario.</p>
                    </div>
                  </div>
                </div>
            </div>
            <p>Tenga en cuenta la <b>INSTALLED_APPS</b> configuración en la parte superior del archivo. Contiene los nombres de todas las aplicaciones de Django que están activadas en esta instancia de Django. Las aplicaciones se pueden utilizar en varios proyectos, y puede empaquetarlas y distribuirlas para que otras personas las utilicen en sus proyectos.</p>
            <p>De forma predeterminada, <a href="https://docs.djangoproject.com/en/3.2/ref/settings/#std:setting-INSTALLED_APPS" target="_blank" rel="noopener noreferrer"><b>INSTALLED_APPS</b></a> contiene las siguientes aplicaciones, todas las cuales vienen con django:</p>
            <ul>
                <li><b><a href="https://docs.djangoproject.com/en/3.2/ref/contrib/admin/#module-django.contrib.admin" target="_blank" rel="noopener noreferrer">django.contrib.admin</a></b>- El sitio de administración.</li>
                <li><b><a href="https://docs.djangoproject.com/en/3.2/topics/auth/#module-django.contrib.auth" target="_blank" rel="noopener noreferrer">django.contrib.auth</a></b>- Un sistema de autenticación.</li>
                <li><b><a href="https://docs.djangoproject.com/en/3.2/ref/contrib/contenttypes/#module-django.contrib.contenttypes" target="_blank" rel="noopener noreferrer">django.contrib.contenttypes</a></b>- Un marco para los tipos de contenido.</li>
                <li><b><a href="https://docs.djangoproject.com/en/3.2/topics/http/sessions/#module-django.contrib.sessions" target="_blank" rel="noopener noreferrer">django.contrib.sessions</a></b>- Un marco de sesión.</li>
                <li><b><a href="https://docs.djangoproject.com/en/3.2/ref/contrib/messages/#module-django.contrib.messages" target="_blank" rel="noopener noreferrer">django.contrib.messages</a></b>- Un marco de mensajería.</li>
                <li><b><a href="https://docs.djangoproject.com/en/3.2/ref/contrib/staticfiles/#module-django.contrib.staticfiles" target="_blank" rel="noopener noreferrer">django.contrib.staticfiles</a></b>- Un marco para la gestión de archivos estáticos.</li>
            </ul>
            <p>Estas aplicaciones se incluyen de forma predeterminada como una conveniencia para el caso común.</p>
            <p>Sin embargo, algunas de estas aplicaciones utilizan al menos una tabla de base de datos, por lo que debemos crear las tablas en la base de datos antes de poder usarlas. Para hacer eso, ejecute el siguiente comando:</p>
            <pre>
                python manage.py migrar
            </pre>
            <p>El <a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/#django-admin-migrate" target="_blank" rel="noopener noreferrer">migrate</a> comando observa la <a href="https://docs.djangoproject.com/en/3.2/ref/settings/#std:setting-INSTALLED_APPS" target="_blank" rel="noopener noreferrer">INSTALLED_APPS</a> configuración y crea las tablas de base de datos necesarias de acuerdo con la configuración de la base de datos en su mysite/settings.pyarchivo y las migraciones de la base de datos enviadas con la aplicación (las cubriremos más adelante). Verá un mensaje para cada migración que aplique. Si está interesado, ejecute el cliente de línea de comandos para su base de datos y escriba \dt(PostgreSQL), (MariaDB, MySQL), (SQLite) u (Oracle) para mostrar las tablas que creó Django.SHOW TABLES;.schemaSELECT TABLE_NAME FROM USER_TABLES;</p>
            <center><h4 id="creando-modelos">Creando modelos</h4></center>
            <p>Ahora definiremos sus modelos, esencialmente, el diseño de su base de datos, con metadatos adicionales.</p>
            <div class="row">
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Filosofía</span>
                      <p>Un modelo es la fuente única y definitiva de información sobre sus datos. Contiene los campos y comportamientos esenciales de los datos que está almacenando. Django sigue el principio DRY . El objetivo es definir su modelo de datos en un solo lugar y derivar automáticamente cosas de él.
                        Esto incluye las migraciones; a diferencia de Ruby On Rails, por ejemplo, las migraciones se derivan completamente de su archivo de modelos y son esencialmente un historial que Django puede pasar para actualizar el esquema de su base de datos para que coincida con sus modelos actuales.</p>
                    </div>
                  </div>
                </div>
            </div>
            <p>En nuestra aplicación de encuesta, crearemos dos modelos: <b>Question</b> y <b>Choice</b>. A <b>Question</b> tiene una pregunta y una fecha de publicación. Choice tiene dos campos: el texto de la elección y un recuento de votos. Cada Choice está asociado con un Question.</p>
            <p>Estos conceptos están representados por clases de Python. Edite el archivo polls/models.py para que se vea así:</p>
            <pre>
                from django.db import models

                classQuestion(models.Model):
                    question_text = models.CharField(max_length=200)
                    pub_date = models.DateTimeField('date published')

                class Choice(models.Model):
                    question = models.ForeignKey(Question, on_delete=models.CASCADE)
                    choice_text = models.CharField(max_length=200)
                    votes = models.IntegerField(default=0)     
            </pre>
            <p>Aquí, cada modelo está representado por una clase que subclasifica <a href="https://docs.djangoproject.com/en/3.2/ref/models/instances/#django.db.models.Model">django.db.models.Model</a>. Cada modelo tiene una serie de variables de clase, cada una de las cuales representa un campo de base de datos en el modelo.</p>
            <p>Cada campo está representado por una instancia de una <a href="https://docs.djangoproject.com/en/3.2/ref/models/fields/#django.db.models.Field" target="_blank" rel="noopener noreferrer">Field</a> clase, por ejemplo, <a href="https://docs.djangoproject.com/en/3.2/ref/models/fields/#django.db.models.CharField">CharField</a> para campos de caracteres y <a href="https://docs.djangoproject.com/en/3.2/ref/models/fields/#django.db.models.DateTimeField" target="_blank" rel="noopener noreferrer"></a> para fechas y horas. Esto le dice a Django qué tipo de datos contiene cada campo.</p>
            <p>El nombre de cada Fieldinstancia (por ejemplo, question_texto pub_date) es el nombre del campo, en un formato compatible con la máquina. Usarás este valor en tu código Python y tu base de datos lo usará como el nombre de la columna.</p>
            <p>Puede utilizar un primer argumento posicional opcional para a Fieldpara designar un nombre legible por humanos. Eso se usa en un par de partes introspectivas de Django y también funciona como documentación. Si no se proporciona este campo, Django usará el nombre legible por máquina. En este ejemplo, solo hemos definido un nombre legible por humanos para Question.pub_date. Para todos los demás campos de este modelo, el nombre legible por máquina del campo será suficiente como su nombre legible por humanos.</p>
            <p>Algunas Fieldclases tienen argumentos obligatorios. CharField, por ejemplo, requiere que le des un max_length. Eso se usa no solo en el esquema de la base de datos, sino también en la validación, como veremos pronto.
                A Fieldtambién puede tener varios argumentos opcionales; en este caso, hemos establecido el defaultvalor de votesen 0.</p>
            <p>Finalmente, tenga en cuenta que se define una relación, utilizando <a href="https://docs.djangoproject.com/en/3.2/ref/models/fields/#django.db.models.ForeignKey" target="_blank" rel="noopener noreferrer">ForeignKey</a>. Eso le dice a Django que cada uno Choice está relacionado con uno solo Question. Django admite todas las relaciones de bases de datos comunes: muchos a uno, muchos a muchos y uno a uno.</p>
            <h4 id="modelos"><center>Activando modelos</center></h4>
            <p>Ese pequeño código de modelo le da a Django mucha información. Con él, Django puede:</p>
            <ul>
                <li>Cree un esquema de base de datos (declaraciones) para esta aplicación. <b>CREATE TABLE</b></li>
                <li>Cree una API de acceso a la base de datos de Python para acceder a los objetos <b>Question</b> y <b>Choice</b></li>
            </ul>
            <p>Pero primero debemos decirle a nuestro proyecto que la aplicación <b>polls</b> está instalada.</p>
            <p>Para incluir la aplicación en nuestro proyecto, necesitamos agregar una referencia a su clase de configuración en <b>INSTALLED_APPS</b>. La clase<b>PollsConfig</b> está en el archivo<b>polls/apps.py</b>, por lo que su ruta de puntos es <b>'polls.apps.PollsConfig'</b>. Edite el archivo <b>mysite/settings.py</b> y agregue esa ruta de puntos a la configuración <b>INSTALLED_APPS</b>. Se verá asi:</p>
            <pre>
                <b>INSTALLED_APPS</b> = [
                    'polls.apps.PollsConfig',
                    'django.contrib.admin',
                    'django.contrib.auth',
                    'django.contrib.contenttypes',
                    'django.contrib.sessions',
                    'django.contrib.messages',
                    'django.contrib.staticfiles',
                ]
            </pre>
            <p>Ahora Django sabe incluir la aplicación <b>polls</b>. Ejecutemos otro comando:</p>
            <pre>
                python manage.py makemigrations polls
            </pre>
            <p>Debería ver algo similar a lo siguiente:</p>
            <pre>
                Migrations for 'polls':
                    polls/migrations/001_initial.py
                        - Create model Question
                        - Create model Choice
            </pre>
            <p>Al ejecutar <b>makemigrations</b>, le está diciendo a Django que ha realizado algunos cambios en sus modelos (en este caso, ha realizado otros nuevos) y que le gustaria que los cambios se almacenen como una migración.</p>
            <p>Las migraciones son la forma en que Django almacena los cambios en sus modelos (y, por lo tanto, en el esquema de su base de datos): son archivos en el disco. Puede leer la migración de su nuevo modelo si lo desea; es el archivo polls/migrations/0001_initial.py. No se preocupe, no se espera que los lea cada vez que Django crea uno, pero están diseñados para ser editables por humanos en caso de que desee modificar manualmente cómo Django cambia las cosas.</p>
            <p>Hay un comando que ejecutará las migraciones por usted y administrará el esquema de su base de datos automáticamente, que se llama <b><a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/#django-admin-migrate" target="_blank" rel="noopener noreferrer">migrate</a></b> y lo veremos en un momento, pero primero, veamos qué SQL ejecutaría esa migración. El comando <b><a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/#django-admin-sqlmigrate" target="_blank" rel="noopener noreferrer">sqlmigrate</a></b> toma los nombres de las migraciones y devuelve su SQL:</p>
            <pre>python manage.py sqlmigrate polls 001</pre>
            <p>Debería ver algo similar a lo siguiente (lo hemos reformateado para facilitar la lectura):</p>
            <pre>
                <b>BEGIN</b>
                --
                -- Create model Question
                -- 
                <b>CREATE TABLE</b> "polls_question" (
                    "id" serial <b>NOT NULL PRIMARY KEY</b>,
                    "question_text" <b>varchar(200) NOT NULL</b>,
                    "pub_date" <b>timestamp with time zone NOT NULL</b>
                );
                --
                -- Create model Choice
                --
                <b>CREATE TABLE</b> "polls_choice" (
                    "id" <b>serial NOT NULL PRIMARY KEY</b>,
                    "choice_text" <b>varchar(200) NOT NULL</b>,
                    "votes" <b>integer NOT NULL</b>,
                    "question_id" <b>integer NOT NULL</b>
                );
                <b>ALTER TABLE </b>"polls_choice"
                    <b>ADD CONSTRAINT </b>"polls_choice_question_id_c5b4b260_fk_polls_question_id"
                        <b>FOREIGN KEY </b>("question_id")
                        <b>REFERENCES </b>"polls_question" ("id")
                        <b>DEFERRABLE INITIALLY DEFERRED;</b>
                <b>CREATE INDEX </b>"polls_choice_question_id_c5b4b260" <b>ON</b> "polls_choice" ("question_id");

                <b>COMMIT;</b>
            </pre>
            <p>Tenga en cuenta lo siguiente:</p>
            <ul>
                <li>El resultado exacto variará según la base de datos que esté utilizando. El ejemplo anterior se genera para PostgreSQL.</li>
                <li>Los nombres de las tablas se generan automáticamente combinando el nombre de la aplicación (<b>polls</b>) y el nombre en minúsculas del modelo, <b>question</b> y <b>choice</b>. (Puede anular este comportamiento).</li>
                <li>Las claves primarias (ID) se agregan automáticamente. (También puede anular esto).</li>
                <li>Por convención, Django agrega "_id" el nombre del campo de clave externa. (Sí, también puede anular esto).</li>
                <li>La relación de clave externa se hace explícita mediante una restricción. No se preocupe por las piezas; le está diciendo a PostgreSQL que no aplique la clave externa hasta el final de la transacción. <b>FOREIGN KEY DEFERRABLE</b></li>
                <li>Se adapta a la base de datos que está utilizando, por lo que los tipos de campos específicos de la base de datos como <b>auto_increment</b>(MySQL), <b>serial</b>(PostgreSQL) o (SQLite) se manejan automáticamente. Lo mismo ocurre con las citas de nombres de campo, por ejemplo, utilizando comillas dobles o simples. <b>integer primary key autoincrement</b></li>
                <li>En realidad <b><a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/#django-admin-sqlmigrate" target="blank">sqlmigrate</a></b>, el comando no ejecuta la migración en su base de datos, sino que lo imprime en la pantalla para que pueda ver lo que SQL Django cree que es necesario. Es útil para verificar qué va a hacer Django o si tiene administradores de bases de datos que requieren scripts SQL para cambios.</li>
            </ul>
            <p>Si está interesado, también puede ejecutar ; esto busca cualquier problema en su proyecto sin realizar migraciones o tocar la base de datos. <b><a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/#django-admin-check" target="_blank" rel="noopener noreferrer">python manage.py check</a></b></p>
            <p>El comando <b><a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/#django-admin-migrate" target="_blank" rel="noopener noreferrer">migrate</a></b> toma todas las migraciones que no se han aplicado (Django rastrea cuáles se aplican usando una tabla especial en su base de datos llamada django_migrations) y las ejecuta en su base de datos, esencialmente, sincronizando los cambios que realizó en sus modelos con el esquema en el base de datos.</p>
            <p>Las migraciones son muy poderosas y le permiten cambiar sus modelos con el tiempo, a medida que desarrolla su proyecto, sin la necesidad de eliminar su base de datos o tablas y crear nuevas; se especializa en actualizar su base de datos en vivo, sin perder datos. Los cubriremos con más profundidad en una parte posterior del tutorial, pero por ahora, recuerde la guía de tres pasos para realizar cambios en el modelo:</p>
            <ul>
                <li>Cambia tus modelos (en models.py</li>
                <li>Ejecutar para crear migraciones para esos cambios <b><a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/#django-admin-makemigrations">python manage.py makemigrations</a></b></li>
                <li>Ejecutar para aplicar esos cambios a la base de datos. <b><a href="https://docs.djangoproject.com/en/3.2/ref/django-admin/#django-admin-migrate" target="_blank" rel="noopener noreferrer">python manage.py migrate</a></b></li>
            </ul>
            <p>La razón por la que existen comandos separados para realizar y aplicar migraciones es porque enviará las migraciones a su sistema de control de versiones y las enviará con su aplicación; no solo facilitan su desarrollo, sino que también pueden ser utilizados por otros desarrolladores y en producción.</p>
            <hr/>
            <p class="right"><b><a href="/tutorial02"><u>Curso de django parte 2</u></a></b></p>
        </div>
    </div>
</div>
{% endblock %}